<include file="Public/header" />

<link type="text/css" rel="stylesheet" href="{:C('_ADMIN_CSS_')}/statistics.css" />
<script type="text/javascript" src="{:C('_ADMIN_JS_')}/statistics.js"></script>

<div class="admin_box">
    <div class="public_statistics_info_box form-inline">

        <div class="form-group">
            <label>总生成订单数：</label>
            <p class="form-control-static" id="all_order"></p>
        </div>
        &nbsp;&nbsp;
        <div class="form-group">
            <label>完成订单数：</label>
            <p class="form-control-static green_color" id="success_order"></p>
        </div>
        &nbsp;&nbsp;
        <div class="form-group">
            <label>关闭订单数：</label>
            <p class="form-control-static red_color" id="close_order"></p>
        </div>
        &nbsp;&nbsp;
        <div class="form-group">
            <label>退款订单数：</label>
            <p class="form-control-static red_color" id="refund_order"></p>
        </div>
        &nbsp;&nbsp;
        <div class="form-group">
            <label>订单总金额：</label>
            <p class="form-control-static" id="order_all_price"></p>
        </div>
        &nbsp;&nbsp;
        <div class="form-group">
            <label>完成订单金额：</label>
            <p class="form-control-static green_color" id="success_order_all_price"></p>
        </div>
        &nbsp;&nbsp;
        <div class="form-group">
            <label>完成订单积分：</label>
            <p class="form-control-static" id="success_order_all_point"></p>
        </div>
    </div>
    <div class="public_statistics_operate_box">
        最后一次资金统计时间：实时统计
    </div>
    <div class="public_statistics_box">
        <div class="statistics_box_head"></div>
        <div class="statistics_box_content"></div>
        <input type="hidden" id="statistics_level" value="{$level}" />
        <input type="hidden" id="statistics_time" value="{$time}" />
        <input type="hidden" id="statistics_type" value="order" />
    </div>
</div>

<script>
    //初始化
    getOrderStatisticsReady();

</script>

<include file="Public/footer" />