<include file="Public/header" />

<script type="text/javascript" src="{:C('_ADMIN_JS_')}/page.js"></script>

<div class="admin_box user_list_box">

    <form method="post" class="form-inline">
        <!--<div class="list_search_box">-->
            <!--<div class="form-group">-->
                <!--<select name="search_time_type" class="form-control" >-->
                    <!--<foreach name="search_time_type_list" item="val">-->
                        <!--<option value="{$key}" <if condition="$dispose.search_time_type eq $key">selected="selected"</if> >{$val}</option>-->
                    <!--</foreach>-->
                <!--</select>-->
            <!--</div>-->
            <!--<div class="form-group ">-->
                <!--<input type="text" class="form-control" id="user_list_start_time" name="search_start_time" readonly value="{$dispose.search_start_time}" >-->
                <!--&nbsp;&nbsp;-&nbsp;&nbsp;-->
                <!--<input type="text" class="form-control" id="user_list_end_time" name="search_end_time" readonly value="{$dispose.search_end_time}" >-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<select name="search_info_type" class="form-control" >-->
                    <!--<option value="0">选择搜索字段</option>-->
                    <!--<foreach name="search_info_type_list" item="val">-->
                        <!--<option value="{$key}" <if condition="$dispose.search_info_type eq $key">selected="selected"</if> >{$val}</option>-->
                    <!--</foreach>-->
                <!--</select>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<input type="text" class="form-control" name="search_info" value="{$dispose.search_info}" >-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label>手机号：</label>-->
                <!--<input type="text" class="form-control" name="search_user_mobile" value="{$dispose.search_user_mobile}" >-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label>用户状态：</label>-->
                <!--<select name="search_user_state" class="form-control" >-->
                    <!--<option value="-1" selected="selected">不限</option>-->
                    <!--<foreach name="search_user_state_list" item="val">-->
                        <!--<option value="{$key}" <if condition="$dispose.search_user_state eq $key">selected="selected"</if> >{$val}</option>-->
                    <!--</foreach>-->
                <!--</select>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label>用户身份：</label>-->
                <!--<select name="search_user_identity" class="form-control" >-->
                    <!--<option value="-1" selected="selected">不限</option>-->
                    <!--<foreach name="search_user_identity_list" item="val">-->
                        <!--<option value="{$key}" <if condition="$dispose.search_user_identity eq $key">selected="selected"</if> >{$val}</option>-->
                    <!--</foreach>-->
                <!--</select>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<button type="submit" class="btn btn-default" >提交</button>-->
                <!--<button type="button" onclick="reset_search_val()" class="btn btn-default" >重置</button>-->
            <!--</div>-->
        <!--</div>-->
    </form>

    <a href="/Admin/Activity/addQuestion" target="_blank" class="btn btn-success" >添加题目</a>

    <div class="list_show_box">
        <table class="table">
            <tr>
                <th>题目编号</th>
                <th>题目标签</th>
                <th>题目内容</th>
                <th>题目配图地址</th>
                <th>选项信息</th>
                <th>状态</th>
                <th>最后发布时间</th>
                <th>添加时间</th>
                <th>操作</th>
            </tr>
            <foreach name="list" item="val">
                <tr>
                    <td>{$val.id}</td>
                    <td>{$val.question_tab}</td>
                    <td>{$val.question_content|cut_str=###,30}</td>
                    <td><a href="/" target="_blank"><img src="" width="50" height="50" /></a></td>
                    <td>
                        <a tabindex="0" role="button" data-html="true" data-toggle="popover" data-trigger="focus" title="选项信息查看"
                           data-content="1213"
                           onclick="$('#example').popover()" href="javascript:;">查看</a>
                    </td>
                    <td>{$val.state}</td>
                    <td>{$val.last_publish_time|date="Y-m-d H:i:s",###}</td>
                    <td>{$val.inputtime|date="Y-m-d H:i:s",###}</td>
                    <td>
                        <a href="/Admin/Activity/editQuestion/id/{$val.id}" target="_blank" >编辑</a>
                    </td>
                </tr>
            </foreach>
        </table>
    </div>

    <form id="admin_page_form" method="post">
        <input type="hidden" name="search_now_page" value="{$dispose.page}" />
        <input type="hidden" name="search_time_type" value="{$dispose.search_time_type}" />
        <input type="hidden" name="search_start_time" value="{$dispose.search_start_time}" />
        <input type="hidden" name="search_end_time" value="{$dispose.search_end_time}" />
        <input type="hidden" name="search_info_type" value="{$dispose.search_info_type}" />
        <input type="hidden" name="search_info" value="{$dispose.search_info}" />
        <input type="hidden" name="search_user_mobile" value="{$dispose.search_user_mobile}" />
        <input type="hidden" name="search_user_state" value="{$dispose.search_user_state}" />
        <input type="hidden" name="search_user_identity" value="{$dispose.search_user_identity}" />
    </form>

    {$page}
</div>

<script type="text/javascript" src="{:C('_ADMIN_BOOTSTRAP_')}/js/bootstrap-datetimepicker.min.js"></script>

<script>

    //日历初始化
    $(function (){
        $("#user_list_start_time").datetimepicker({
            language : "zh-CN" ,
            format : "yyyy-mm-dd",
            todayBtn:  true,
            autoclose: true,
            todayHighlight: true,
            startView: 2,
            minView: 2,
        });
        $("#user_list_end_time").datetimepicker({
            language : "zh-CN" ,
            format : "yyyy-mm-dd",
            todayBtn:  true,
            autoclose: true,
            todayHighlight: true,
            startView: 2,
            minView: 2,
        });
    });

    //表单初始化
    function reset_search_val(){
        $("select[name='search_time_type']").val($("select[name='search_time_type'] option:first").val());
        $("input[name='search_start_time']").val("");
        $("input[name='search_end_time']").val("");
        $("select[name='search_info_type']").val(0);
        $("input[name='search_info']").val("");
        $("input[name='search_user_mobile']").val("");
        $("select[name='search_user_state']").val(-1);
        $("select[name='search_user_identity']").val(-1);
    }

    $(function () {
        $('[data-toggle="popover"]').popover()
    })

</script>

<include file="Public/footer" />