<include file="Public/header" />

<script type="text/javascript" src="{:C('_ADMIN_JS_')}/activity.js"></script>
<script type="text/javascript" src="{:C('_ADMIN_JS_')}/page.js"></script>

<div class="admin_box question_list_box">

    <form method="post" class="form-inline">
        <div class="list_search_box">
            <div class="form-group">
                <select name="search_time_type" class="form-control" >
                    <foreach name="search_time_type_list" item="val">
                        <option value="{$key}" <if condition="$dispose.search_time_type eq $key">selected="selected"</if> >{$val}</option>
                    </foreach>
                </select>
            </div>
            <div class="form-group ">
                <input type="text" class="form-control" id="user_list_start_time" name="search_start_time" readonly value="{$dispose.search_start_time}" >
                &nbsp;&nbsp;-&nbsp;&nbsp;
                <input type="text" class="form-control" id="user_list_end_time" name="search_end_time" readonly value="{$dispose.search_end_time}" >
            </div>
            <div class="form-group">
                <select name="search_info_type" class="form-control" >
                    <option value="0">选择搜索字段</option>
                    <foreach name="search_info_type_list" item="val">
                        <option value="{$key}" <if condition="$dispose.search_info_type eq $key">selected="selected"</if> >{$val}</option>
                    </foreach>
                </select>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="search_info" value="{$dispose.search_info}" >
            </div>
            <div class="form-group">
                <label>标签搜索：</label>
                <select name="search_tab" class="form-control" >
                    <option value="0" <if condition="$dispose.search_tab eq 0">selected="selected"</if> >全部</option>
                    <foreach name="question_tab_list" item="val">
                        <option value="{$key}" <if condition="$dispose.search_tab eq $key">selected="selected"</if> >{$val}</option>
                    </foreach>
                </select>
            </div>
            <div class="form-group">
                <label>状态搜索：</label>
                <select name="search_state" class="form-control" >
                    <option value="-1" <if condition="$dispose.search_state eq -1">selected="selected"</if> >不限</option>
                    <foreach name="question_bank_state_list" item="val">
                        <option value="{$key}" <if condition="$dispose.search_state eq $key">selected="selected"</if> >{$val}</option>
                    </foreach>
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default" >提交</button>
                <button type="button" onclick="reset_search_val()" class="btn btn-default" >重置</button>
            </div>
        </div>
    </form>

    <a href="/Admin/Activity/addQuestion" target="_blank" class="btn btn-success" >添加题目</a>

    <div class="list_show_box">
        <table class="table">
            <tr>
                <th>题目编号</th>
                <th>题目标签</th>
                <th>题目内容</th>
                <th>题目配图地址</th>
                <th>选项信息</th>
                <th>状态</th>
                <th>最后发布时间</th>
                <th>添加时间</th>
                <th>操作</th>
            </tr>
            <foreach name="list" item="val">
                <tr>
                    <td>{$val.id}</td>
                    <td>{$question_tab_list[$val['question_tab']]}</td>
                    <td title="{$val.question_content}">{$val.question_content|cut_str=###,10}</td>
                    <td>
                        <empty name="val.question_image">
                            -
                        <else/>
                            <a href="/{$val.question_image}" target="_blank"><img src="/{$val.question_image}" width="50" height="50" /></a>
                        </empty>
                    </td>
                    <td>
                        <empty name="val.option_info_result">
                            -
                        <else/>
                            <a tabindex="0" role="button" data-html="true" data-toggle="popover" data-trigger="focus" title="选项信息查看"
                               data-content="1、{$val.option_info_result.option.1}<br>2、{$val.option_info_result.option.2}<br>
                               3、{$val.option_info_result.option.3}<br>4、{$val.option_info_result.option.4}<br><br>正确：{$val.option_info_result.is_right}"
                               onclick="$('#example').popover()" href="javascript:;">查看</a>
                        </empty>
                    </td>
                    <td>{$question_bank_state_list[$val['state']]}</td>
                    <td>
                        <empty name="val.last_publish_time">
                            -
                        <else/>
                            {$val.last_publish_time|date="Y-m-d H:i:s",###}
                        </empty>
                    </td>
                    <td>{$val.inputtime|date="Y-m-d H:i:s",###}</td>
                    <td>
                        <if condition="$val.state eq $question_bank_wait">
                            <a href="/Admin/Activity/editQuestion/id/{$val.id}" target="_blank" >编辑</a>
                            &nbsp;|&nbsp;
                            <a href="javascript:;" onclick="updateQuestionState({$val.id},{$question_bank_normal})" >通过审核</a>
                            &nbsp;|&nbsp;
                            <a href="javascript:;" onclick="updateQuestionState({$val.id},{$question_bank_delete})" >删除</a>
                        <elseif condition="$val.state eq $question_bank_normal" />
                            <a href="/Admin/Activity/editQuestion/id/{$val.id}" target="_blank" >编辑</a>
                            &nbsp;|&nbsp;
                            <a href="javascript:;" onclick="isNextPublish({$val.id})" >下次发布</a>
                            &nbsp;|&nbsp;
                            <a href="javascript:;" onclick="updateQuestionState({$val.id},{$question_bank_delete})" >删除</a>
                        <else/>
                            -
                        </if>
                    </td>
                </tr>
            </foreach>
        </table>
    </div>

    <form id="admin_page_form" method="post">
        <input type="hidden" name="search_now_page" value="{$dispose.page}" />
        <input type="hidden" name="search_time_type" value="{$dispose.search_time_type}" />
        <input type="hidden" name="search_start_time" value="{$dispose.search_start_time}" />
        <input type="hidden" name="search_end_time" value="{$dispose.search_end_time}" />
        <input type="hidden" name="search_info_type" value="{$dispose.search_info_type}" />
        <input type="hidden" name="search_info" value="{$dispose.search_info}" />
        <input type="hidden" name="search_tab" value="{$dispose.search_tab}" />
        <input type="hidden" name="search_state" value="{$dispose.search_state}" />
    </form>

    {$page}
</div>

<script type="text/javascript" src="{:C('_ADMIN_BOOTSTRAP_')}/js/bootstrap-datetimepicker.min.js"></script>

<script>

    //日历初始化
    $(function (){
        $("#user_list_start_time").datetimepicker({
            language : "zh-CN" ,
            format : "yyyy-mm-dd",
            todayBtn:  true,
            autoclose: true,
            todayHighlight: true,
            startView: 2,
            minView: 2,
        });
        $("#user_list_end_time").datetimepicker({
            language : "zh-CN" ,
            format : "yyyy-mm-dd",
            todayBtn:  true,
            autoclose: true,
            todayHighlight: true,
            startView: 2,
            minView: 2,
        });
    });

    //表单初始化
    function reset_search_val(){
        $("select[name='search_time_type']").val(1);
        $("input[name='search_start_time']").val("");
        $("input[name='search_end_time']").val("");
        $("select[name='search_info_type']").val(1);
        $("input[name='search_info']").val("");
        $("select[name='search_tab']").val(0);
        $("select[name='search_state']").val(-1);
    }

    $(function () {
        $('[data-toggle="popover"]').popover()
    })

</script>

<include file="Public/footer" />