<include file="Public/header" />

<link type="text/css" rel="stylesheet" href="{:C('_HOME_CSS_')}/goodsList.css" />

<script type="text/javascript" src="{:C('_HOME_JS_')}/goodsList.js"></script>

<form action="/Home/Goods/allGoodsList" method="get">
    <div class="goods_select_box">
        <input type="text" class="search_input" name="search_key" value="{$get_data.search_key}" />
        <button type="submit" class="search_button">搜索</button>
    </div>
</form>
<div class="goods_list">
    <div class="goods_list_box">
        <foreach name="goods_list" item="val" >
            <div class="goods_info" can_cart="<notempty name='now_user_info'>1<else/>0</notempty>" has_cart="0" goods_id="{$val.id}" title="都懒得做详情页了 - {$val.describe} - {$val.attr_name}">
                <div class="goods_image">
                    <a target="_blank" href="#">
                        <img src="{$val.goods_image}">
                    </a>
                </div>
                <div class="goods_operation">
                    <div class="goods_name">
                        <a target="_blank" href="#">
                            {$val.name}
                            &nbsp;&nbsp;-&nbsp;&nbsp;
                            {$val.ext_name}
                        </a>
                    </div>
                    <div class="goods_message">
                        <div class="goods_price" title="<notempty name='val.can_price'>可以直接购买<else/>不可以直接购买</notempty>">
                            <span class="symbol">¥</span>
                            <span class="price">{$val.price}</span>
                        </div>
                        <notempty name='val.can_point'>
                            <div class="goods_point" title="可用积分兑换">
                                <span class="symbol">积分：</span>
                                <span class="point">{$val.point}</span>
                            </div>
                        </notempty>
                    </div>
                    <div class="goods_comment">
                        <div class="goods_comment_show" title="查看评论详情" >
                            <a target="_blank" href="javascript:;">评论（-）</a>
                        </div>
                        <div class="goods_sale_show" title="已售出数量">
                            已售：
                            <span class="goods_sale_num">{$val.sale_num}</span>
                            {$val.stock_unit}
                        </div>
                    </div>
                </div>
            </div>
        </foreach>
    </div>

    {$page}

</div>

<include file="Public/footer" />