<include file="Public/header" />

<link type="text/css" rel="stylesheet" href="{:C('_HOME_CSS_')}/goodsList.css" />

<script type="text/javascript" src="{:C('_HOME_JS_')}/goodsList.js"></script>

<form action="/Home/Goods/allGoodsList" method="get">
    <div class="goods_select_box">
        <input type="text" class="public_input search_input" placeholder="填写要搜索的商品名" name="search_key" value="{$get_data.search_key}" />
        <button type="submit" class="public_button search_button">搜索</button>
    </div>
</form>
<div class="goods_list">
    <div class="goods_list_box">
        <foreach name="goods_list" item="val" >
            <div class="goods_info <notempty name='val.has_cart'>goods_green_border</notempty>" can_cart="<notempty name='now_user_info'>1<else/>0</notempty>" has_cart="{$val.has_cart}" has_stock="<if condition='$val.stock gt 0'>1<else/>0</if>" goods_id="{$val.id}" title="<notempty name='val.has_cart'>已添加至清单&nbsp;-&nbsp;</notempty>都懒得做详情页了&nbsp;-&nbsp;{$val.describe}&nbsp;-&nbsp;{$val.attr_name}">
                <div class="goods_image">
                    <a href="javascript:;">
                        <img src="{$val.goods_image}">
                    </a>
                </div>
                <div class="goods_operation">
                    <div class="goods_name">
                        <a href="javascript:;">
                            {$val.name}
                            &nbsp;&nbsp;-&nbsp;&nbsp;
                            {$val.ext_name}
                        </a>
                    </div>
                    <div class="goods_message">
                        <div class="goods_price" title="<notempty name='val.can_price'>可以直接购买<else/>不可以直接购买</notempty>">
                            <span class="symbol">¥</span>
                            <span class="price">{$val.price}</span>
                        </div>
                        <notempty name='val.can_point'>
                            <div class="goods_point" title="可用积分兑换">
                                <span class="symbol">积分：</span>
                                <span class="point">{$val.point}</span>
                            </div>
                        </notempty>
                    </div>
                    <div class="goods_comment">
                        <!--<div class="goods_comment_show" title="查看评论详情" >-->
                            <!--<a target="_blank" href="javascript:;">评论（-）</a>-->
                        <!--</div>-->
                        <div class="goods_sale_show" title="已售出数量">
                            已售：
                            <span class="goods_sale_num">{$val.sale_num}</span>
                            {$val.stock_unit}
                        </div>
                    </div>
                </div>

                <if condition='$val.stock elt 0'>
                    <div class="goods_disable">
                        已售罄
                    </div>
                </if>
            </div>
        </foreach>
    </div>

    {$page}

</div>

<script>
    $(function(){
        $(".public_content_info .goods_list .goods_list_box .goods_info .goods_image").click(function(){
            addCart($(this).parent());
        });
        $(".public_content_info .goods_list .goods_list_box .goods_info .goods_operation .goods_name").click(function(){
            addCart($(this).parent().parent());
        });
    });
</script>

<include file="Public/footer" />