<include file="Public/header" />

<link type="text/css" rel="stylesheet" href="{:C('_HOME_CSS_')}/goodsList.css" />

<script type="text/javascript" src="{:C('_HOME_JS_')}/goodsList.js"></script>

<div class="goods_column_nav">
    <foreach name="list" item="val">
        <div class="goods_column_nax_box" attr_id="{$val.attr_id}" title="{$val.title} - {$val.str}" onclick="toAnchor({$val.attr_id})">{$val.title}</div>
    </foreach>
</div>
<div class="goods_list">
    <foreach name="list" item="val">
        <div class="goods_column_list_box" id="attr_{$val.attr_id}" attr_id="{$val.attr_id}">
            <div class="column_top_show">
                <div class="column_top_title">{$val.title}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$val.str}</div>
                <div class="column_top_operation"><a href="javascript:;">更多&gt;&gt;</a></div>
            </div>
        </div>
        <div class="goods_list_box">
            <notempty name="goods_list[$val['attr_id']]">
                <foreach name="goods_list[$val['attr_id']]" item="val" >
                    <div class="goods_info" goods_id="{$val.id}" title="{$val.describe} - {$val.attr_name}">
                        <div class="goods_image">
                            <img src="{$val.goods_image}">
                        </div>
                        <div class="goods_operation">
                            <div class="goods_name">
                                {$val.name}
                                &nbsp;&nbsp;-&nbsp;&nbsp;
                                {$val.ext_name}
                            </div>
                            <div class="goods_message">
                                <div class="goods_price">
                                    <span class="symbol">¥</span>
                                    <span class="price">{$val.price}</span>
                                </div>
                                <div class="goods_sale">
                                    已售：
                                    <span class="goods_sale_num">{$val.stock}</span>
                                    {$val.stock_unit}
                                </div>
                            </div>
                            <div class="goods_comment">
                                评论(<a target="_blank" href="javascript:;">-</a>)
                            </div>
                        </div>
                    </div>
                </foreach>
            </notempty>
        </div>
    </foreach>
</div>

<include file="Public/footer" />