/* 活动 - 每日答题 - 数据统计 */

.statistics_box{ width: 1000px; margin: 0 auto;}
.statistics_box .statistics_box_head{
    margin: 10px;
    padding: 10px 50px;
    text-align: center;
    height: 100px;
    line-height: 80px;
    font-weight: 900;
    font-size: 18px;
}
.statistics_box .statistics_box_head .operation{
    position: relative;
    font-size: 12px;
    font-weight: 600;
    margin: 0 20px;
    cursor: pointer;
}
.statistics_box .statistics_box_content{margin-top: 10px;  padding: 10px; overflow: hidden; text-align: center}
.statistics_box .statistics_box_content .time_box{
    height: 90px;
    width: 90px;
    border: 1px solid #000;
    float: left;
    margin: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #fff;
}
.statistics_box .statistics_box_content .time_box:hover{
    border-color: #0088cc;
    color: #000;
}
.statistics_box .statistics_box_content .no_num{
    border-color: #ddd;
    color: #ddd;
}
.statistics_box .statistics_box_content .no_num_has_question{
    color: #bbb;
    background-color: #ffebf2;
}
.statistics_box .statistics_box_content .has_num{
    background-color: #e9ffd9;
}
.statistics_box .statistics_box_content .time_box .time_box_head{
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-weight: 700;
}
.statistics_box .statistics_box_content .time_box .time_box_content{
    height: 45px;
    line-height: 45px;
    text-align: center;
}
.statistics_box .statistics_box_content .time_box .time_box_content .small{font-size: 9px; }
.statistics_box .statistics_box_content .time_box .time_box_content .big{font-size: 14px; font-weight: 900 }

