/* 搜索表单样式 */
.admin_box{width: 1200px; margin: 20px auto 0;}
.admin_box .list_search_box{
    overflow: hidden;
    margin: 0 auto 20px;
    padding: 20px 50px;
    border-radius: 10px;
    background-color: #f5f5f5;
}
.admin_box .list_search_box .search_box{padding: 5px 10px; float: left; overflow: hidden}
.admin_box .form-inline .list_search_box .form-group{margin-right: 10px; margin-bottom: 10px}

.admin_box .list_show_box{margin-top: 10px;}
.admin_box .list_show_box table{text-align: center}
.admin_box .list_show_box table th{text-align: center}

.admin_box .green_color{color: green}
.admin_box .red_color{color: red}
.admin_box .yellow_color{color: #f0c040}
.admin_box .margin_both_5{padding-left: 5px; padding-right: 5px; }
.admin_box .tip_size{font-size: 12px; font-weight: 900 }


