*{ margin: 0; padding: 0; text-decoration: none;}
body{background-color: #CCE8CF !important;}

/* 搜索表单样式 */
.admin_box{width: 1200px; margin: 20px auto 0;}
.admin_box .list_search_box{
    overflow: hidden;
    margin: 0 auto 20px;
    padding: 20px 50px;
    border-radius: 10px;
    background-color: #f5f5f5;
}
.admin_box .list_search_box .search_box{padding: 5px 10px; float: left; overflow: hidden}
.admin_box .form-inline .list_search_box .form-group{margin-right: 10px; margin-bottom: 10px}

.admin_box .list_show_title{font-size: 12px; padding-left: 30px; margin-top: 20px;}
.admin_box .list_count{margin: 0 10px;}
.admin_box .list_show_box{margin-top: 10px;}
.admin_box .list_show_box table{text-align: center}
.admin_box .list_show_box table th{text-align: center}

.admin_box .green_color{color: #008000}
.admin_box .red_color{color: #ff0000}
.admin_box .yellow_color{color: #f0c040}
.admin_box .gray_color{color: #777}

.admin_box .margin_both_5{padding-left: 5px; padding-right: 5px; }
.admin_box .tip_size{font-size: 12px; font-weight: 900 }

.admin_box .all_operation_box{
    min-height: 100px;
    margin: 50px auto;
}
.admin_box .all_operation_box .operation_title{
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: bolder;
    border-bottom: 2px dashed #000;
}
.admin_box .all_operation_box .operation_list{
    line-height: 50px;
    overflow: hidden;
    width: 800px;
    margin: 0 auto;
}
.admin_box .all_operation_box .operation_list div{
    float: left;
    text-align: center;
    width: 200px;
    line-height: 50px;
}




