<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><empty name="admin_head_title">管理员后台<else/>{$admin_head_title}</empty></title>

    <link type="text/css" rel="stylesheet" href="{:C('_ADMIN_CSS_')}/public.css" />
    <link type="text/css" rel="stylesheet" href="{:C('_ADMIN_CSS_')}/page.css" />

    <!--bootstrap的相关东西引入-->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{:C('_ADMIN_BOOTSTRAP_')}/css/bootstrap-datetimepicker.min.css">
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>
<body>

