<include file="Public/header" />

<div class="user_center_box">
    <!-- 公共侧边栏 -->
    <include file="Public/user_center_left" />

    <!-- 内容主题 -->
    <div class="user_center_right">
        <div class="user_center_address_box">
            <div class="address_list_title">
                <if condition="$can_add eq 1">
                    <a href="/Home/UserCenter/userAddReceiptAddress">添加新地址</a>
                </if>
            </div>
            <div class="address_list_content">
                <table>
                    <tr>
                        <td width="290">地址</td>
                        <td width="200">操作</td>
                    </tr>
                    <foreach name="address_list" item="val">
                        <tr>
                            <td>{$val.address}<if condition="$val.is_default eq 1">(默认)</if></td>
                            <td>
                                &nbsp;&nbsp;
                                <a href="/Home/UserCenter/userEditReceiptAddress/id/{$val.id}">编辑</a>
                                <if condition="$val.is_default neq 1">
                                    &nbsp;&nbsp;
                                    <a href="javascript:;" onclick="set_receipt_address_is_default({$val.id})" >设为默认地址</a>
                                </if>
                                &nbsp;&nbsp;
                                <a href="javascript:;" onclick="delete_receipt_address({$val.id})" >删除</a>
                            </td>
                        </tr>
                    </foreach>
                </table>
            </div>
        </div>
    </div>

</div>

<include file="Public/footer" />