<include file="Public/header" />

<div class="user_center_box">
    <!-- 公共侧边栏 -->
    <include file="Public/user_center_left" />

    <!-- 内容主题 -->
    <div class="user_center_right">
        <div class="user_center_edit_password_box">
            <form method="post" class="public_from" id="user_edit_password_form">
                <div class="public_form_row">
                    <div class="public_form_title">
                        旧密码：
                    </div>
                    <div class="public_form_content">
                        <input type="password" name="old_password" />
                    </div>
                </div>
                <div class="public_form_row">
                    <div class="public_form_title">
                        新密码：
                    </div>
                    <div class="public_form_content">
                        <input type="password" name="new_password" />
                    </div>
                </div>
                <div class="public_form_row">
                    <div class="public_form_title">
                        验证码：
                    </div>
                    <div class="public_form_short_content">
                        <input type="text" name="verify" />
                    </div>
                    <div class="public_form_short_content">
                        <img src="/Home/User/showVerify" class="show_verify" title="点击更换" onclick="public_update_verify()" />
                    </div>
                </div>
                <div class="public_form_button_row">
                    <button class="public_button" type="button" onclick="user_edit_password_form_submit()">提交</button>
                </div>
            </form>
        </div>
    </div>

</div>

<include file="Public/footer" />