<include file="Public/header" />

<link type="text/css" rel="stylesheet" href="{:C('_ADMIN_CSS_')}/activity_question.css" />
<script type="text/javascript" src="{:C('_ADMIN_JS_')}/activity_question.js"></script>

<div class="admin_box">
    <div class="statistics_box">
        <div class="statistics_box_head"></div>
        <div class="statistics_box_content"></div>
    </div>
</div>

<input type="hidden" id="statistics_level" value="{$level}" />
<input type="hidden" id="statistics_time" value="{$time}" />

<script>
    //初始化
    getStatisticsReady();
</script>

<include file="Public/footer" />