<include file="Public/header" />

<link type="text/css" rel="stylesheet" href="{:C('_ADMIN_CSS_')}/activity_question_statistics.css" />
<script type="text/javascript" src="{:C('_ADMIN_JS_')}/activity_question.js"></script>

<div class="admin_box">
    <div class="statistics_box">
        <div class="statistics_box_head">xxx</div>
        <div class="statistics_box_content">
            <div class="time_box">
                <div class="time_box_head">11</div>
                <div class="time_box_content">22</div>
            </div>
            <div class="time_box"></div>
            <div class="time_box"></div>
            <div class="time_box"></div>
        </div>
    </div>
</div>

<include file="Public/footer" />