    </div>
    <!-- µ×²¿ĞÅÏ¢À¸ -->
    <div class="public_bottom_info"></div>
</div>

<div class="big_box_shade" onclick="public_hidden_tip_alert()"></div>
<div class="big_box_alert">
    <div class="alert_title">
            1312313
    </div>
    <div class="alert_content">
        <table>
            <tr>
                <td>
                    adsasdasdasdas<br>asdasdasd
                </td>
            </tr>
        </table>
    </div>
</div>

    <script>
        public_show_tip_alert();
    </script>

</body>
</html>