<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta content="IE=EmulateIE8,Chrome=1" http-equiv="X-UA-Compatible">
    <meta name="renderer" content="webkit">
    <title><empty name="home_head_title">偷下懒<else/>{$home_head_title}</empty></title>

    <link type="text/css" rel="stylesheet" href="{:C('_HOME_CSS_')}/public.css" />

    <script type="text/javascript" src="{:C('_HOME_JS_')}/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="{:C('_HOME_JS_')}/public.js"></script>

</head>
<body>

<div class="big_box">

    <!-- 顶部信息 -->
    <div class="public_top_info">

        <div class="public_title_info">
            <notempty name="home_head_left_title">
                {$home_head_left_title}
            <else/>
                <a href="/"><img class="logo" src="{:C('HOME_WEB_TOP_LOGO_IMAGE_URL')}"></a>
            </notempty>
        </div>

        <div class="public_user_info">
            <notempty name="now_user_info">
                <span class="public_user_is_login">
                    Hellow，{$now_user_info.show_nick_name_str}
                    &nbsp;&nbsp;&nbsp;
                    <a href="/">首页</a>
                    &nbsp;&nbsp;&nbsp;
                    <a href="/Home/UserCenter" title="{$now_user_info.show_nick_name}">个人中心</a>
                    <notempty name="now_user_info.is_message_tip">
                        &nbsp;&nbsp;&nbsp;
                        <a href="/Home/UserCenter/userMessage" class="user_message_tip" title="您有新的未读消息">有新消息</a>
                    </notempty>
                    &nbsp;&nbsp;&nbsp;
                    <a href="javascript:;" onclick="public_logout()" title="退出登录">退出</a>
                </span>
            <else/>
                <span class="public_user_no_login">
                    <a href="/">首页</a>
                    &nbsp;&nbsp;&nbsp;
                    <a href="/Home/User/userLogin">登录</a>
                </span>
            </notempty>
        </div>
    </div>

    <!-- 导航栏 -->
    <empty name="hidden_nav">
        <div class="public_nav">
            <foreach name="nav_list" item="val">
                <if condition="$key neq 0">
                    <span class="nav_info separate">|</span>
                </if>
                <a class="nav_info <if condition='$val.param eq $nav_param' >active</if> " href="{$val.url}">{$val.str}</a>
            </foreach>
        </div>
    </empty>

    <!-- 内容信息 -->
    <div class="public_content_info">
