<include file="Public/header" />

<link type="text/css" rel="stylesheet" href="{:C('_HOME_CSS_')}/cartList.css" />

<script type="text/javascript" src="{:C('_HOME_JS_')}/cartList.js"></script>

<div class="cart_list">
    <notempty name="now_user_info">
        <div class="cart_content_box">
            <div class="cart_content_top">
                我的清单
            </div>

            <notempty name="list">

                <div class="cart_goods_title">
                    <div class="cart_goods_title_select"><input type="checkbox" /></div>
                    <div class="cart_goods_title_name">商品</div>
                    <div class="cart_goods_title_price">单价</div>
                    <div class="cart_goods_title_num">数量</div>
                </div>

                <foreach name="list" item="val">
                    <div class="cart_goods_info" is_stock="{$val.is_stock}" less_stock="{$val.less_stock}" >
                        <div class="cart_goods_select">
                            <input type="checkbox" />
                        </div>
                        <div class="cart_goods_image" title="{$val.describe}&nbsp;-&nbsp;{$val.attr_name}" >
                            <img src="{$val['goods_image']}" >
                        </div>
                        <div class="cart_goods_text" title="{$val.describe}&nbsp;-&nbsp;{$val.attr_name}" >
                            {$val.name}
                            &nbsp;&nbsp;-&nbsp;&nbsp;
                            {$val.ext_name}
                        </div>
                        <div class="cart_goods_price <notempty name='val.can_select'>cart_goods_price_select</notempty> ">
                            <notempty name="val.can_select">
                                <input type="checkbox" pay_type="1" class="cart_goods_price_select_checkbox" />¥&nbsp;&nbsp;&nbsp;<span class="public_red_color">{$val.price}</span>
                                <br>
                                <input type="checkbox" pay_type="2" class="cart_goods_price_select_checkbox" />积分&nbsp;&nbsp;&nbsp;<span class="public_red_color">{$val.point}</span>
                            <else/>
                                <notempty name="val.can_price">
                                    ¥&nbsp;&nbsp;&nbsp;<span class="public_red_color">{$val.price}</span>
                                </notempty>
                                <notempty name="val.can_point">
                                    积分&nbsp;&nbsp;&nbsp;<span class="public_red_color">{$val.point}</span>
                                </notempty>
                            </notempty>
                            <input type="hidden" class="hidden_pay_type" value="{$val.pay_type}" />
                        </div>
                        <div class="cart_goods_num" max_stock="{$val.stock}">
                            <div class="cart_goods_num_decrease" onclick="decreaseGoodsNum(this)">-</div>
                            <div class="cart_goods_num_show">{$val.goods_num}</div>
                            <div class="cart_goods_num_add" onclick="addGoodsNum(this)">+</div>
                            <input type="hidden" class="hidden_goods_num" value="{$val.goods_num}" />
                        </div>
                        <div class="cart_goods_tip"></div>

                        <empty name="val.is_stock">
                            <div class="cart_disable">库存不足</div>
                        <else/>
                            <div class="cart_disable public_hidden"></div>
                        </empty>
                    </div>
                </foreach>
            <else/>
                <div class="no_data_tip">
                    清单中还没有任何商品...
                </div>
            </notempty>


            <!--<div class="cart_goods_info">-->

                <!--<div class="cart_goods_select">-->
                    <!--<input type="checkbox" />-->
                <!--</div>-->
                <!--<div class="cart_goods_image">-->
                    <!--<img src="/{:C('HOME_GOODS_DEFAULT_EMPTY_IMAGE_URL')}" >-->
                <!--</div>-->
                <!--<div class="cart_goods_text">-->
                    <!--asdasd啊实打实大师大师的啊实打实大师大师的啧啧啧啧早点 啊飒飒大师大师大神大神大神  按时打算打算打算-->
                <!--</div>-->
                <!--<div class="cart_goods_price cart_goods_price_select">-->
                    <!--¥&nbsp;&nbsp;&nbsp;<span class="public_red_color">123</span>-->
                    <!--<br>-->
                    <!--积分&nbsp;&nbsp;&nbsp;<span class="public_red_color">4443</span>-->
                <!--</div>-->

                <!--<div class="cart_disable public_hidden"></div>-->
            <!--</div>-->
            <!--<div class="cart_goods_info">-->
                <!--<div class="cart_goods_select">-->
                    <!--<input type="checkbox" />-->
                <!--</div>-->
                <!--<div class="cart_goods_image">-->
                    <!--<img src="/{:C('HOME_GOODS_DEFAULT_EMPTY_IMAGE_URL')}" >-->
                <!--</div>-->
                <!--<div class="cart_goods_text">-->
                    <!--asdasd啊实打实大师大师的啊实打实大师大师的啧啧啧啧早点 啊飒飒大师大师大神大神大神  按时打算打算打算-->
                <!--</div>-->
                <!--<div class="cart_goods_price">-->
                    <!--¥&nbsp;&nbsp;&nbsp;<span class="public_red_color">123</span>-->
                <!--</div>-->

                <!--<div class="cart_disable" title="无法购买">xxxx</div>-->
            <!--</div>-->
            <!--<div class="cart_goods_info">-->
                <!--<div class="cart_goods_select">-->
                    <!--<input type="checkbox" />-->
                <!--</div>-->
                <!--<div class="cart_goods_image">-->
                    <!--<img src="/{:C('HOME_GOODS_DEFAULT_EMPTY_IMAGE_URL')}" >-->
                <!--</div>-->
                <!--<div class="cart_goods_text">-->
                    <!--asdasd啊实打实大师大师的啊实打实大师大师的啧啧啧啧早点 啊飒飒大师大师大神大神大神  按时打算打算打算-->
                <!--</div>-->
                <!--<div class="cart_goods_price cart_goods_price_select">-->
                    <!--¥&nbsp;&nbsp;&nbsp;<span class="public_red_color">123</span>-->
                    <!--<br>-->
                    <!--积分&nbsp;&nbsp;&nbsp;<span class="public_red_color">4443</span>-->
                <!--</div>-->

                <!--<div class="cart_disable public_hidden"></div>-->
            <!--</div>-->

        </div>
    <else/>
        <div class="no_login_tip">登录后即可使用这部分功能。</div>
    </notempty>
</div>

<script>
    //初始化

    showGoodsNum();

</script>

<include file="Public/footer" />