<include file="Public/header" />

<link type="text/css" rel="stylesheet" href="{:C('_HOME_CSS_')}/cartList.css" />

<script type="text/javascript" src="{:C('_HOME_JS_')}/cartList.js"></script>

<div class="cart_list">
    <notempty name="now_user_info">
        <div class="cart_content_box">
            <div class="cart_content_top">
                我的清单
            </div>

            <notempty name="list">

                <div class="cart_goods_title">
                    <div class="cart_goods_title_select"><input class="cart_goods_top_select_input" onclick="allGoodsSelect(this)" type="checkbox" /></div>
                    <div class="cart_goods_title_name">商品</div>
                    <div class="cart_goods_title_price">单价</div>
                    <div class="cart_goods_title_num">数量</div>
                </div>

                <foreach name="list" item="val">
                    <div class="cart_goods_info" is_stock="{$val.is_stock}" less_stock="{$val.less_stock}" cart_id="{$val.cart_id}" >
                        <div class="cart_goods_select">
                            <input class="cart_goods_select_input" type="checkbox" />
                        </div>
                        <div class="cart_goods_image" title="{$val.describe}&nbsp;-&nbsp;{$val.attr_name}" >
                            <img src="{$val['goods_image']}" >
                        </div>
                        <div class="cart_goods_text" title="{$val.describe}&nbsp;-&nbsp;{$val.attr_name}" >
                            {$val.name}
                            &nbsp;&nbsp;-&nbsp;&nbsp;
                            {$val.ext_name}
                        </div>
                        <div class="cart_goods_price <notempty name='val.can_select'>cart_goods_price_select</notempty> ">
                            <notempty name="val.can_select">
                                <input type="checkbox" pay_type="1" class="cart_goods_price_select_checkbox" />¥&nbsp;&nbsp;&nbsp;<span class="public_red_color">{$val.price}</span>
                                <br>
                                <input type="checkbox" pay_type="2" class="cart_goods_price_select_checkbox" />积分&nbsp;&nbsp;&nbsp;<span class="public_red_color">{$val.point}</span>
                            <else/>
                                <notempty name="val.can_price">
                                    ¥&nbsp;&nbsp;&nbsp;<span class="public_red_color">{$val.price}</span>
                                </notempty>
                                <notempty name="val.can_point">
                                    积分&nbsp;&nbsp;&nbsp;<span class="public_red_color">{$val.point}</span>
                                </notempty>
                            </notempty>
                            <input type="hidden" class="hidden_pay_type" value="{$val.pay_type}" />
                        </div>
                        <div class="cart_goods_num" max_stock="{$val.stock}">
                            <div class="cart_goods_num_decrease" onclick="decreaseGoodsNum(this)">-</div>
                            <div class="cart_goods_num_show">{$val.goods_num}</div>
                            <div class="cart_goods_num_add" onclick="addGoodsNum(this)">+</div>
                            <input type="hidden" class="hidden_goods_num" value="{$val.goods_num}" />
                        </div>
                        <div class="cart_goods_tip"></div>
                        <div class="cart_goods_operation">
                            <a href="javascript:;">删除</a>
                        </div>
                        <empty name="val.is_stock">
                            <div class="cart_disable">库存不足</div>
                        <else/>
                            <div class="cart_disable public_hidden"></div>
                        </empty>
                    </div>
                </foreach>

                <div class="cart_goods_footer">
                    <div class="cart_goods_footer_select"><input class="cart_goods_footer_select_input" onclick="allGoodsSelect(this)" type="checkbox" /></div>
                    <div class="cart_goods_footer_name">共记&nbsp;<span class="cart_goods_footer_goods_num"></span>&nbsp;种商品</div>
                    <div class="cart_goods_footer_price">
                        合计金额：&nbsp;¥&nbsp;&nbsp;&nbsp;<span class="public_red_color">{$val.price}</span>
                        <br>
                        合计需要积分：&nbsp;&nbsp;&nbsp;<span class="public_red_color">{$val.point}</span>
                        <br>
                        拥有积分：&nbsp;&nbsp;&nbsp;<span>123</span>
                    </div>
                    <div class="cart_goods_footer_operation">
                        <button class="public_button cart_goods_footer_operation_button">生成订单</button>
                    </div>
                </div>

            <else/>
                <div class="no_data_tip">
                    清单中还没有任何商品...
                </div>
            </notempty>

        </div>
    <else/>
        <div class="no_login_tip">登录后即可使用这部分功能。</div>
    </notempty>
</div>

<script>
    //初始化
    initializationCartList();

</script>

<include file="Public/footer" />