<include file="Public/header" />

<link type="text/css" rel="stylesheet" href="{:C('_HOME_CSS_')}/cartList.css" />

<script type="text/javascript" src="{:C('_HOME_JS_')}/cartList.js"></script>

<div class="cart_list">
    <notempty name="now_user_info">
        <div class="cart_content_box">

            <div class="cart_info_tip">
                温馨提示：&nbsp;下个&nbsp;<span class="public_tip_color">确认订单</span>&nbsp;的时间段是&nbsp;
                <span class="public_tip_color">
                    <empty name="work_list.next_confirm.is_day">
                        {$work_list.next_confirm.start_time|date="m-d",###}
                    </empty>
                    {$work_list.next_confirm.time_str}
                    &nbsp;
                    {$work_list.next_confirm.start_time|date="H:i",###}~{$work_list.next_confirm.end_time|date="H:i",###}
                </span>，
                下个&nbsp;<span class="public_tip_color">配送商品</span>&nbsp;的时间段是&nbsp;
                <span class="public_tip_color">
                    <empty name="work_list.next_send.is_day">
                        {$work_list.next_send.start_time|date="m-d",###}
                    </empty>
                    {$work_list.next_send.time_str}
                    &nbsp;
                    {$work_list.next_send.start_time|date="H:i",###}~{$work_list.next_send.end_time|date="H:i",###}
                </span><br/>
                时间段选择：&nbsp;我们是&nbsp;<span class="public_tip_color">按照时间段</span>&nbsp;来配送商品的，为了不耽误您的商品配送，
                请参考&nbsp;<span class="public_tip_color">首页的时间表</span>&nbsp;选择您需要的配送时间段。
            </div>

            <div class="cart_time_and_address">
                <table class="cart_time_and_address_table">
                    <tr>
                        <td class="cart_table_title">指定时间段：</td>
                        <td class="cart_table_content">
                            <select class="cart_send_week" id="cart_send_week">
                                <foreach name="week_list" item="val">
                                    <option value="{$key}" is_now="{$val.is_now}" is_can="{$val.is_can}" >{$val.week_str}</option>
                                </foreach>
                            </select>
                            <select class="cart_send_time" id="cart_send_time">
                                <foreach name="time_list" item="val">
                                    <option value="{$key}" >{$val.info}({$val.time})</option>
                                </foreach>
                            </select>
                        </td>
                        <td class="cart_table_title">收货地址：</td>
                        <td class="cart_table_content">
                            <input type="text" class="cart_send_address" id="cart_send_address" value="{$default_address.address}" placeholder="您可以在个人中心的收货地址列表中设置默认收货地址" />
                        </td>
                    </tr>
                    <tr>
                        <td class="cart_table_title">备注：</td>
                        <td class="cart_table_content" colspan="3">
                            <input type="text" class="cart_remark" id="cart_remark" placeholder="订单备注" />
                        </td>
                    </tr>
                </table>
            </div>

            <div class="cart_content_top">
                我的清单
            </div>

            <notempty name="list">

                <div class="cart_goods_title">
                    <div class="cart_goods_title_select"><input class="cart_goods_top_select_input" onclick="allGoodsSelect(this)" type="checkbox" /></div>
                    <div class="cart_goods_title_name">商品</div>
                    <div class="cart_goods_title_price">单价</div>
                    <div class="cart_goods_title_num">数量</div>
                </div>

                <foreach name="list" item="val">
                    <div class="cart_goods_info" goods_can_select="{$val.goods_can_select}" less_stock="{$val.less_stock}" cart_id="{$val.cart_id}" >
                        <div class="cart_goods_select">
                            <input class="cart_goods_select_input" onclick="statisticsCartGoods()" type="checkbox" />
                        </div>
                        <div class="cart_goods_image" title="{$val.describe}&nbsp;-&nbsp;{$val.attr_name}" >
                            <img src="{$val['goods_image']}" >
                        </div>
                        <div class="cart_goods_text" title="{$val.describe}&nbsp;-&nbsp;{$val.attr_name}" >
                            {$val.name}
                            &nbsp;&nbsp;-&nbsp;&nbsp;
                            {$val.ext_name}
                        </div>
                        <div class="cart_goods_price <notempty name='val.price_can_select'>cart_goods_price_select</notempty> ">
                            <notempty name="val.price_can_select">
                                <input type="checkbox" onclick="selectPayType(this)" pay_type="1" class="cart_goods_price_select_checkbox" data_num="{$val.price}" />¥&nbsp;&nbsp;&nbsp;<span class="public_red_color">{$val.price}</span>
                                <br>
                                <input type="checkbox" onclick="selectPayType(this)" pay_type="2" class="cart_goods_price_select_checkbox" data_num="{$val.point}" />积分&nbsp;&nbsp;&nbsp;<span class="public_red_color">{$val.point}</span>
                            <else/>
                                <notempty name="val.can_price">
                                    ¥&nbsp;&nbsp;&nbsp;<span class="public_red_color" pay_type="1" data_num="{$val.price}" >{$val.price}</span>
                                </notempty>
                                <notempty name="val.can_point">
                                    积分&nbsp;&nbsp;&nbsp;<span class="public_red_color" pay_type="2" data_num="{$val.point}" >{$val.point}</span>
                                </notempty>
                            </notempty>
                            <input type="hidden" class="hidden_pay_type" value="{$val.pay_type}" />
                        </div>
                        <div class="cart_goods_num" max_stock="{$val.stock}">
                            <div class="cart_goods_num_decrease" onclick="decreaseGoodsNum(this)">-</div>
                            <div class="cart_goods_num_show">{$val.goods_num}</div>
                            <div class="cart_goods_num_add" onclick="addGoodsNum(this)">+</div>
                            <input type="hidden" class="hidden_goods_num" value="{$val.goods_num}" />
                        </div>
                        <div class="cart_goods_tip"></div>
                        <div class="cart_goods_operation">
                            <a href="javascript:;" onclick="deleteCartGoods(this)">删除</a>
                        </div>

                        <empty name="val.is_shop">
                            <div class="cart_disable">此商品已被下架</div>
                        <else/>
                            <empty name="val.is_stock">
                                <div class="cart_disable">库存不足</div>
                            <else/>
                                <if condition="$val['state'] eq 1">
                                    <div class="cart_disable public_hidden"></div>
                                <else/>
                                    <div class="cart_disable">此商品已被删除，无法购买</div>
                                </if>
                            </empty>
                        </empty>
                    </div>
                </foreach>

                <div class="cart_goods_footer">
                    <div class="cart_goods_footer_select"><input class="cart_goods_footer_select_input" onclick="allGoodsSelect(this)" type="checkbox" /></div>
                    <div class="cart_goods_footer_name">共记&nbsp;<span class="cart_goods_footer_goods_num"></span>&nbsp;种商品</div>
                    <div class="cart_goods_footer_price">
                        合计金额：&nbsp;¥&nbsp;&nbsp;&nbsp;<span class="public_red_color cart_goods_footer_goods_price">{$val.price}</span>
                        <br>
                        合计需要积分：&nbsp;&nbsp;&nbsp;<span class="public_red_color cart_goods_footer_goods_point">{$val.point}</span>
                        <br>
                        拥有积分：&nbsp;&nbsp;&nbsp;<span class="public_red_color cart_goods_footer_user_point">{$user_point}</span>
                    </div>
                    <div class="cart_goods_footer_operation">
                        <button class="public_button cart_goods_footer_operation_button" onclick="createOrder()">生成订单</button>
                        <a href="javascript:;" class="cart_goods_footer_operation_a" onclick="deleteAllCartGoods()">清空清单列表</a>
                    </div>
                </div>

            <else/>
                <div class="no_data_tip">
                    清单中还没有任何商品...
                </div>
            </notempty>

        </div>
    <else/>
        <div class="no_login_tip">登录后即可使用这部分功能。</div>
    </notempty>
</div>

<script>
    //初始化
    initializationCartList();

    //对页面上的周选择框进行初始化
    $.each($(".cart_content_box .cart_time_and_address .cart_time_and_address_table #cart_send_week option"),function(k,v){
        if($(v).attr("is_can") != 1){
            $(v).prop("disabled",true);
        }else{
            $(v).prop("disabled",false);
        }

        if($(v).attr("is_now") != 1){
            $(v).prop("selected",false);
        }else{
            $(v).prop("selected",true);
        }
    });

</script>

<include file="Public/footer" />