<include file="Public/header" />

<link type="text/css" rel="stylesheet" href="{:C('_HOME_CSS_')}/index.css" />

<script type="text/javascript" src="{:C('_HOME_JS_')}/index.js"></script>

<!-- 普通信息展示 -->
<div class="index_title">
    温馨提示：正常情况下，订单商品配送时间&nbsp;<span class="public_tip_color">只在每周六与周日</span>&nbsp;，周一至周五不上班，只提供预约配送服务。
    若有特殊情况，将会在公告中另行通知。<br/>具体配送时间段，请留意<span class="public_tip_color">首页上的时间表</span>。
</div>
<!-- 提示信息展示 -->
<div class="index_tip public_hidden">

</div>

<div class="index_box">
    <div class="index_time_box">
        <div class="time_title">
            时间表
        </div>
        <notempty name="work_list.now_doing">
            <div class="time_list now_doing">
                老板正在忙活：{$work_list.now_doing.tip}
                <br/>
                {$work_list.now_doing.start_time|date="H:i",###}
                &nbsp;~&nbsp;
                {$work_list.now_doing.end_time|date="H:i",###}
            </div>
        </notempty>
        <div class="time_list next_confirm">
            下一波确认订单时间
            <br/>
            <empty name="work_list.next_confirm.is_day">
                {$work_list.next_confirm.start_time|date="m-d",###}
            </empty>
            {$work_list.next_confirm.time_str}
            &nbsp;
            {$work_list.next_confirm.start_time|date="H:i",###}
            &nbsp;~&nbsp;
            {$work_list.next_confirm.end_time|date="H:i",###}
        </div>
        <div class="time_list next_send">
            下一波配送商品时间
            <br/>
            <empty name="work_list.next_send.is_day">
                {$work_list.next_send.start_time|date="m-d",###}
            </empty>
            {$work_list.next_send.time_str}
            &nbsp;
            {$work_list.next_send.start_time|date="H:i",###}
            &nbsp;~&nbsp;
            {$work_list.next_send.end_time|date="H:i",###}
        </div>
    </div>
    <div class="index_notice_box">
        <div class="notice_title">
            公告栏
            <a class="show_list" href="/Home/Notice/noticeList" target="_blank">公告列表>></a>
        </div>
        <div class="notice_info_tip public_hidden"></div>
        <div class="notice_info_list"></div>
    </div>
    <div class="index_activity_box">
        <div class="activity_title">
            近期活动
            <a class="show_list" href="/Home/Activity/activityList" target="_blank">活动列表>></a>
        </div>
        <div class="activity_info_tip public_hidden"></div>
        <div class="activity_info_list"></div>
    </div>
</div>

<include file="Public/footer" />

<script>
    loadIndexNotice();
    loadIndexActivity();

    $(function(){
        //绑定公告的点击事件
        $(".index_notice_box .notice_info_list").on('click','.notice_info',function(){
            var notice_id = parseInt($(this).attr("notice_id"));
            if(notice_id > 0){
                window.open("/Home/Notice/show/id/"+notice_id);
            }
        });
    });

</script>
