<include file="Public/header" />

<link type="text/css" rel="stylesheet" href="{:C('_HOME_CSS_')}/user.css" />
<script type="text/javascript" src="{:C('_HOME_JS_')}/userPublic.js"></script>

<div class="user_box">
    <div class="login_box">
        <form method="post" id="user_register_form">
            <table class="user_table">
                <tr>
                    <td class="table_title">手机：</td>
                    <td class="table_content">
                        <input type="text" name="mobile" id="user_register_mobile" />
                    </td>
                    <td class="table_tip">全站的服务只会提供给这个手机号，请确保填写无误。</td>
                </tr>
                <tr>
                    <td class="table_title">密码：</td>
                    <td class="table_content">
                        <input type="password" name="password" />
                    </td>
                    <td class="table_tip"></td>
                </tr>
                <tr>
                    <td class="table_title">验证码：</td>
                    <td class="table_content">
                        <input type="text" name="verify" />
                        <img src="/Home/User/showVerify" class="show_verify" title="点击更换" onclick="public_update_verify()" />
                    </td>
                    <td class="table_tip"></td>
                </tr>
                <tr>
                    <td class="table_bottom" colspan="3">
                        <button class="public_button" type="button" onclick="user_register_form_submit()">提交</button>
                        <a href="/Home/User/userLogin" id="user_login" >已有账号？点击登录</a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

<include file="Public/footer" />