<include file="Public/header" />

<link type="text/css" rel="stylesheet" href="{:C('_HOME_CSS_')}/user.css" />
<script type="text/javascript" src="{:C('_HOME_JS_')}/userPublic.js"></script>

<div class="user_box">
    <div class="login_box">
        <form method="post" id="user_reset_password_form">
            <table class="user_table">
                <tr>
                    <td class="table_title">手机号：</td>
                    <td class="table_content">
                        <input type="text" name="mobile" />
                    </td>
                    <td class="table_tip"></td>
                </tr>
                <tr>
                    <td class="table_title">重置安全码：</td>
                    <td class="table_content">
                        <input type="text" name="reset_code" />
                    </td>
                    <td class="table_tip">注册时生成的一串 6位数 安全码，若已忘记可用上待重置的手机号编辑短信‘CZ’到手机号{:C("WEB_USE_MOBILE")}，即可获取</td>
                </tr>
                <tr>
                    <td class="table_bottom" colspan="3">
                        <button class="public_button" type="button" onclick="user_reset_password_form_submit()">提交</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

<include file="Public/footer" />