<include file="Public/header" />
<script type="text/javascript" src="{:C('_HOME_JS_')}/userLogin.js"></script>
<form method="post" id="user_login_form">
    <div>手机：<input type="text" name="mobile" id="user_login_mobile" /></div>
    <div>密码：<input type="password" name="password" /></div>
    <div>验证码：<input type="text" name="verify" /></div>
    <div><img src="/Home/User/showVerify" title="点击更换" onclick="user_login_update_verify(this)" /></div>
    <div><button type="button" onclick="user_login_form_submit()">提交</button></div>
</form>
<include file="Public/footer" />