<include file="Public/header" />

<link type="text/css" rel="stylesheet" href="{:C('_HOME_CSS_')}/orderInfo.css" />

<div class="goods_list">
    <div class="order_info_box">
        <div class="order_info_top">
            待确认订单
        </div>

        <notempty name="order_info.has_tip">
            <div class="order_info_tip <notempty name='order_info.right_tip'>right_tip<else/>wrong_tip</notempty>">
                {$order_info.tip_message}
            </div>
        </notempty>


        <div class="order_goods_title">
            <div class="order_goods_title_name">商品</div>
            <div class="order_goods_title_price">单价</div>
            <div class="order_goods_title_num">数量</div>
            <div class="order_goods_title_total">合计</div>
        </div>

        <foreach name="order_info.order_goods_list" item="info">
            <div class="order_goods_info" >
                <div class="order_goods_image" title="{$info.describe}&nbsp;-&nbsp;{$info.attr_name}" >
                    <img src="{$info['goods_image']}" >
                </div>
                <div class="order_goods_text" title="{$info.describe}&nbsp;-&nbsp;{$info.attr_name}" >
                    {$info.name}
                    &nbsp;&nbsp;-&nbsp;&nbsp;
                    {$info.ext_name}
                </div>
                <div class="order_goods_price">
                    <if condition="$info['pay_type'] eq 1">
                        ¥&nbsp;&nbsp;&nbsp;<span class="public_red_color">{$info.price}</span>
                    <elseif condition="$info['pay_type'] eq 2" />
                        积分&nbsp;&nbsp;&nbsp;<span class="public_red_color">{$info.point}</span>
                    <else/>
                        -
                    </if>
                </div>
                <div class="order_goods_num">
                    *&nbsp;{$info.goods_num}
                </div>
                <div class="order_goods_total">
                    <if condition="$info['pay_type'] eq 1">
                        ¥&nbsp;&nbsp;&nbsp;<span class="public_red_color">{$info['price']*$info['goods_num']}</span>
                    <elseif condition="$info['pay_type'] eq 2" />
                        积分&nbsp;&nbsp;&nbsp;<span class="public_red_color">{$info['point']*$info['goods_num']}</span>
                    <else/>
                        -
                    </if>
                </div>
                <div class="order_goods_tip public_tip_color">
                    <notempty name="order_info.is_wrong">
                        <empty name="info.is_shop">
                            此商品已被下架
                        <else/>
                            <if condition="$info['state'] neq C('STATE_GOODS_NORMAL')">
                                此商品已被删除
                            </if>
                        </empty>
                    </notempty>
                </div>
            </div>
        </foreach>

        <div class="order_goods_footer">
            <table class="order_info_table">
                <tr>
                    <td class="table_title">订单编号：</td>
                    <td class="table_content">{$order_info.order_info.order_code}</td>
                    <td class="table_title">订单状态：</td>
                    <td class="table_content">{$order_info.order_info.state_str}</td>
                </tr>
                <tr>
                    <td>订单金额：</td>
                    <td>{$order_info.order_info.price}</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>所需积分：</td>
                    <td>{$order_info.order_info.point}</td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>

    </div>
</div>


<include file="Public/footer" />