<include file="Public/header" />

<link type="text/css" rel="stylesheet" href="{:C('_HOME_CSS_')}/orderInfo.css" />

<div class="goods_list">
    <div class="order_info_box">

        <div class="order_info_time_and_address">
            <table class="order_info_time_and_address_table">
                <tr>
                    <td class="order_info_table_title">配送时间：</td>
                    <td class="order_info_table_content order_info_send_week_and_time">{$order_info.order_info.send_week_and_time}</td>
                    <td class="order_info_table_title">配送地址：</td>
                    <td class="order_info_table_content order_info_send_address">{$order_info.order_info.send_address}</td>
                </tr>
                <tr>
                    <td class="order_info_table_title">备注：</td>
                    <td class="order_info_table_content" colspan="3" title="{$order_info.order_info.remark}">
                        {$order_info.order_info.remark|cut_str=###,40}
                    </td>
                </tr>
            </table>
        </div>

        <div class="order_info_top">
            {$order_info.order_info.state_str}订单
        </div>

        <notempty name="order_info.has_tip">
            <div class="order_info_tip <notempty name='order_info.right_tip'>right_tip<else/>wrong_tip</notempty>">
                {$order_info.tip_message}
            </div>
        </notempty>


        <div class="order_goods_title">
            <div class="order_goods_title_name">商品</div>
            <div class="order_goods_title_price">单价</div>
            <div class="order_goods_title_num">数量</div>
            <div class="order_goods_title_total">合计</div>
        </div>

        <foreach name="order_info.order_goods_list" item="info">
            <div class="order_goods_info" >
                <div class="order_goods_image" title="{$info.describe}&nbsp;-&nbsp;{$info.attr_name}" >
                    <img src="{$info['goods_image']}" >
                </div>
                <div class="order_goods_text" title="{$info.describe}&nbsp;-&nbsp;{$info.attr_name}" >
                    {$info.name}
                    &nbsp;&nbsp;-&nbsp;&nbsp;
                    {$info.ext_name}
                </div>
                <div class="order_goods_price">
                    <if condition="$info['pay_type'] eq 1">
                        ¥&nbsp;&nbsp;&nbsp;<span class="public_red_color">{$info.price}</span>
                    <elseif condition="$info['pay_type'] eq 2" />
                        积分&nbsp;&nbsp;&nbsp;<span class="public_red_color">{$info.point}</span>
                    <else/>
                        -
                    </if>
                </div>
                <div class="order_goods_num">
                    *&nbsp;{$info.goods_num}
                </div>
                <div class="order_goods_total">
                    <if condition="$info['pay_type'] eq 1">
                        ¥&nbsp;&nbsp;&nbsp;<span class="public_red_color">{$info['price']*$info['goods_num']}</span>
                    <elseif condition="$info['pay_type'] eq 2" />
                        积分&nbsp;&nbsp;&nbsp;<span class="public_red_color">{$info['point']*$info['goods_num']}</span>
                    <else/>
                        -
                    </if>
                </div>
                <div class="order_goods_tip public_tip_color">
                    <notempty name="order_info.is_wrong">
                        <empty name="info.is_shop">
                            此商品已被下架
                        <else/>
                            <if condition="$info['state'] neq C('STATE_GOODS_NORMAL')">
                                此商品已被删除
                            </if>
                        </empty>
                    </notempty>
                </div>
            </div>
        </foreach>

        <div class="order_goods_footer">
            <table class="order_info_table">
                <tr>
                    <td class="table_title">订单编号：</td>
                    <td class="table_content">{$order_info.order_info.order_code}</td>
                    <td class="table_title">订单状态：</td>
                    <td class="table_content">{$order_info.order_info.state_str}</td>
                </tr>
                <tr>
                    <td class="table_title">订单金额：</td>
                    <td class="table_content">￥<span class="public_red_color">{$order_info.order_info.pay_price}</span></td>
                    <td class="table_title">确认状态：</td>
                    <td class="table_content"><span class="<empty name='order_info.order_info.is_confirm'>public_red_color<else/>public_green_color</empty>" >{$order_info.order_info.is_confirm_str}</span></td>
                </tr>
                <tr>
                    <td class="table_title">所需积分：</td>
                    <td class="table_content">{$order_info.order_info.point}</td>
                    <td class="table_title">付款状态：</td>
                    <td class="table_content"><span class="<empty name='order_info.order_info.is_pay'>public_red_color<else/>public_green_color</empty>" >{$order_info.order_info.is_pay_str}</span></td>
                </tr>
            </table>
        </div>

        <div class="order_info_footer_tip" id="order_info_footer_tip">
            <span class="public_green_color">问：如何确认订单？</span><br>
            答：确认订单信息无误后 <span class='public_tip_color'>请用此账号所绑定的手机号码</span> 编辑短信 ‘<span class='public_tip_color'>QR{$order_info.order_info.order_code}</span>’ 发送至手机号 <span class='public_tip_color'>{:C('WEB_USE_MOBILE')}</span> 以完成订单确认。<br>
            <span class="public_green_color">问：要付款后才会配送？</span><br>
            答：<span class='public_tip_color'>不是</span>，只需要完成 <span class='public_tip_color'>确认订单</span> 步骤，且订单的 <span class='public_tip_color'>确认状态</span> 变更为 <span class='public_tip_color'>已确认</span> 状态，配送员就会为您准备发货。<br>
            <span class="public_green_color">问：怎么付款？</span><br>
            答：1、您可以在<span class='public_tip_color'>下单并确认</span>后，将订单金额直接打款至 <a href="javascript:;" onclick="show_zfb()" class='public_tip_color public_big_font'>支付宝账号 {:C('WEB_USE_ALIPAY')}（点击显示二维码）</a> <br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;并在备注中填写订单号 ‘<span class='public_tip_color'>{$order_info.order_info.order_code}</span>’ 以等待订单确认结算。<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注：若用这种方式在<span class='public_tip_color'>配送时间段内付款</span>，配送员可能不知情，收取商品时告知即可。<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、货到付款，您可在收到配送员的商品后，当面付款给配送员。<br>
            <span class="public_green_color">问：我对这张订单有异议，怎么办？</span><br>
            答：<a class="public_tip_color" href="/Home/User/orderDissent/order_id/{$order_info.order_info.id}">点击这里</a>，提交订单的异议。我们会尽快为您处理！也可直接联系&nbsp;<span class="public_tip_color">客服QQ&nbsp;{:C('WEB_USE_QQ')}</span>
            <div class="hidden_zfb public_hidden" onclick="hide_zfb()">
                <img src="{:C('WEB_USE_ALIPAY_IMAGE')}" />
            </div>
        </div>

    </div>
</div>

<script>
    function show_zfb(){
        $(".order_info_footer_tip .hidden_zfb").removeClass("public_hidden");
    }
    function hide_zfb(){
        $(".order_info_footer_tip .hidden_zfb").addClass("public_hidden");
    }
</script>

<include file="Public/footer" />