<include file="Public/header" />
    <div class="admin_box">
        <div class="all_operation_box">
            <div class="operation_title">订单相关</div>
            <div class="operation_list">
                <div>
                   待处理订单数：
                   <notempty name="data.wait_order">
                       <a href="/Admin/Order/orderList" class="red_color" target="_blank" title="点击去订单列表">{$data.wait_order}</a>
                   <else/>
                       0
                   </notempty>
                </div>
                <div>
                   处在待结算状态的订单：
                   <notempty name="data.success_wait_pay_order">
                       <a href="/Admin/Order/orderList" class="red_color" target="_blank" title="点击去订单列表">{$data.success_wait_pay_order}</a>
                   <else/>
                       0
                   </notempty>
                </div>
                <div>
                   中间状态订单：
                   <notempty name="data.middle_order">
                       <a href="/Admin/Order/orderList" class="red_color" target="_blank" title="点击去订单列表">{$data.middle_order}</a>
                   <else/>
                       0
                   </notempty>
                </div>
                <div>
                   待收订单金额：
                   <notempty name="data.wait_price">
                       <a href="/Admin/Order/orderList" class="red_color" target="_blank" title="点击去订单列表">{$data.wait_price}</a>
                   <else/>
                       0
                   </notempty>
                </div>
                <div>
                   过期未处理完的订单：
                   <notempty name="data.over_time">
                       <a href="/Admin/Order/orderList" class="red_color" target="_blank" title="点击去订单列表">{$data.over_time}</a>
                   <else/>
                       0
                   </notempty>
                </div>
                <div>
                   涉及用户数：
                   <notempty name="data.user_list">
                       <a href="/Admin/Order/orderList" class="red_color" target="_blank" title="点击去订单列表">{$data.user_list|count=###}</a>
                   <else/>
                       0
                   </notempty>
                </div>
            </div>
        </div>

        <div class="all_operation_box">
            <div class="operation_title">资金相关</div>
            <div class="operation_list">
                <div>
                    账户余额：
                    <a href="/Admin/Statistics/fundStatistics" class="<if condition='$data.fund_statistics gt 0'>green_color<else/>red_color</if>" target="_blank" title="点击去资金统计列表">{$data.fund_statistics}</a>
                </div>
                <div>
                    总利润：
                    <a href="/Admin/Statistics/fundStatistics" class="<if condition='$data.profit_statistics gt 0'>green_color<else/>red_color</if>" target="_blank" title="点击去资金统计列表">{$data.profit_statistics}</a>
                </div>
                <div>
                    总收入：
                    <a href="/Admin/Fund/fundList" class="<if condition='$data.income_statistics gt 0'>green_color<else/>red_color</if>" target="_blank" title="点击去资金流水列表">{$data.income_statistics}</a>
                </div>
                <div>
                    总支出：
                    <a href="/Admin/Fund/fundList" class="<if condition='$data.expenses_statistics gt 0'>green_color<else/>red_color</if>" target="_blank" title="点击去资金流水列表">{$data.expenses_statistics}</a>
                </div>
                <div>
                    总提现：
                    <a href="/Admin/Fund/fundList" target="_blank" title="点击去资金流水列表">{$data.withdraw_statistics}</a>
                </div>
                <div>
                    统计时间：
                    {$data.statistics_time|date="Y-m-d H:i:s",###}
                </div>
            </div>
        </div>
    </div>
<include file="Public/footer" />