<include file="Public/header" />

<link type="text/css" rel="stylesheet" href="{:C('_ADMIN_CSS_')}/param.css" />

<script type="text/javascript" src="{:C('_ADMIN_JS_')}/param.js"></script>
<script type="text/javascript" src="{:C('_ADMIN_JS_')}/attr.js"></script>

<div class="admin_box goods_list_show_attr_box">
    <form class="form-horizontal" method="post" >
        <div class="form-group">
            <label class="col-sm-2 control-label">说明：</label>
            <div class="col-sm-10">
                <p class="form-control-static">此处可控制商品列表页的属性栏目显示</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">属性分类id参考</label>
            <div class="col-sm-10">
                <div>
                    <span id="attr_list"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <input type="text" class="form-control show_attr_id" id="attr_parent_id" value="0" readonly />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">栏目选择：</label>
            <div class="col-sm-10" id="column_list">
                <div class="attr_show">
                    栏目名：<input type="text" class="attr_show_title" name="attr_show_title[]" />属性值：<input type="text" class="attr_show_id" name="attr_show_id[]" onchange="changeAttrName(this,this.value)"  />(<span class="attr_show_name">11</span>)<a href="javascript:;" onclick="moveUp(this)">上移</a><a href="javascript:;" onclick="moveDown(this)">下移</a>
                </div>
                <div class="attr_show">
                    栏目名：<input type="text" class="attr_show_title" name="attr_show_title[]" />属性值：<input type="text" class="attr_show_id" name="attr_show_id[]" onchange="changeAttrName(this,this.value)"  />(<span class="attr_show_name">22</span>)<a href="javascript:;" onclick="moveUp(this)">上移</a><a href="javascript:;" onclick="moveDown(this)">下移</a>
                </div>
                <div class="attr_show">
                    栏目名：<input type="text" class="attr_show_title" name="attr_show_title[]" />属性值：<input type="text" class="attr_show_id" name="attr_show_id[]" onchange="changeAttrName(this,this.value)" />(<span class="attr_show_name">33</span>)<a href="javascript:;" onclick="moveUp(this)">上移</a><a href="javascript:;" onclick="moveDown(this)">下移</a>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <button type="button" class="btn btn-default" onclick="addShowAttr()">添加一栏</button>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">提交</button>
            </div>
        </div>
    </form>
</div>

<script>
    //页面载入时调用
    var goods_attr_id = $("#attr_parent_id").val();
    //用这个父级id初始化当前父级
    getAttrList(goods_attr_id);
</script>

<include file="Public/footer" />
