<include file="Public/header" />


<div class="error_box">
    <div class="error_404">404<span class="small_font">貌似出错了...</span></div>
    <div class="error_message">
        <div class="error_title">也许是因为以下几个原因：</div>
        <div class="error_content">
            你没网了？（23333333）<br>
            电脑炸了？(╯‵□′)╯︵┻━┻<br>
            运气不好？∑( ° △ °|||)︴
            <notempty name="message">
                <br>
                <span class="message_show">或者是：{$message}</span>
            </notempty>
        </div>
    </div>
</div>


<include file="Public/footer" />