
/* 清单内容部分 */
.public_content_info .cart_list{
    width: 1000px;
    margin: 30px auto;
    border: 1px dashed #bbb;
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari 和 Chrome */
    border-radius: 5px;
}
.public_content_info .cart_content_box{
    padding: 50px;
}
.public_content_info .cart_content_box .cart_content_top{
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
    height: 50px;
    line-height: 50px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #bbb;
}
.public_content_info .cart_content_box .cart_goods_info{
    height: 50px;
    line-height: 50px;
    border-bottom: 1px dashed #bbb;
}

/* 未登录提示 */
.public_content_info .no_login_tip{
    width: 500px;
    margin: 100px auto;
    color: red;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    padding: 75px;
}