/*顶部栏目标签*/
.public_content_info .goods_column_nav{
    margin: 10px;
    padding: 10px;
    text-align: center;
}
.public_content_info .goods_column_nav .goods_column_nax_box{
    margin: 5px 10px;
    padding: 2px;
    height: 20px;
    line-height: 20px;
    font-size: 13px;
    display: inline-block;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    _zoom:1;
    *display:inline;
}

.public_content_info .goods_column_nax_box:hover{
    border-bottom: 1px solid #0088cc;
}

/*栏目列表*/
.public_content_info .goods_list .goods_column_list_box{
    margin: 15px 0;
}
.public_content_info .goods_list .goods_column_list_box .column_top_show{
    margin-bottom: 10px;
    padding: 0 40px;
    overflow: hidden;
}
.public_content_info .goods_list .goods_column_list_box .column_top_show .column_top_title{
    float: left;
    height: 30px;
    line-height: 30px;
    width: 250px;
    padding-left: 25px;
    border-bottom: 1px dashed #555555;
}
.public_content_info .goods_list .goods_column_list_box .column_top_show .column_top_operation{
    float: right;
    height: 30px;
    line-height: 30px;
    width: 100px;
    padding-right: 25px;
    border-bottom: 1px dashed #555555;
    text-align: right;
}

/*栏目商品*/
.public_content_info .goods_list .goods_list_box{
    overflow: hidden;
    padding: 0 38px;
}
.public_content_info .goods_list .goods_list_box .goods_info{
    margin: 10px 20px;
    width: 180px;
    height: 270px;
    float: left;
    cursor: pointer;
    border: 1px solid transparent;
}
.public_content_info .goods_list .goods_list_box .goods_info:hover{
    border-color:#ffcccc;
}
.public_content_info .goods_list .goods_list_box .goods_green_border{
    border-color:#009966;
}
.public_content_info .goods_list .goods_list_box .goods_info .goods_image{
    width: 180px;
    height: 180px;
}
.public_content_info .goods_list .goods_list_box .goods_info .goods_image img{
    width: 180px;
    height: 180px;
}
.public_content_info .goods_list .goods_list_box .goods_info .goods_operation{
    text-align: center;
    padding: 5px;
}
.public_content_info .goods_list .goods_list_box .goods_info .goods_operation .goods_name{
    margin: 2px 0;
    overflow: hidden;
    height: 36px;
    line-height: 18px;
    word-wrap:break-word;
}
.public_content_info .goods_list .goods_list_box .goods_info .goods_operation .goods_message{
    height: 20px;
    overflow: hidden;
}
.public_content_info .goods_list .goods_list_box .goods_info .goods_operation .goods_message .goods_price{
    margin-right: 5px;
    height: 20px;
    line-height: 20px;
    float: left;
}
.public_content_info .goods_list .goods_list_box .goods_info .goods_operation .goods_message .goods_price .symbol{
    margin-right: 5px;
    font-size: 12px;
}
.public_content_info .goods_list .goods_list_box .goods_info .goods_operation .goods_message .goods_price .price{
    color: #f40;
    font-weight: 700;
    margin-right: 5px;
    font-size: 12px;
}
.public_content_info .goods_list .goods_list_box .goods_info .goods_operation .goods_message .goods_point{
    margin-right: 5px;
    height: 20px;
    line-height: 20px;
    float: right;
}
.public_content_info .goods_list .goods_list_box .goods_info .goods_operation .goods_message .goods_point .symbol{
    margin-right: 5px;
    font-size: 12px;
}
.public_content_info .goods_list .goods_list_box .goods_info .goods_operation .goods_message .goods_point .point{
    color: #f40;
    font-weight: 700;
    font-size: 12px;
}
.public_content_info .goods_list .goods_list_box .goods_info .goods_operation .goods_comment{
    height: 20px;
    overflow: hidden;
}
.public_content_info .goods_list .goods_list_box .goods_info .goods_operation .goods_comment .goods_comment_show a{
    margin-right: 5px;
    height: 20px;
    line-height: 20px;
    float: left;
    font-size: 12px;
}
.public_content_info .goods_list .goods_list_box .goods_info .goods_operation .goods_comment .goods_sale_show{
    float: right;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
}
.public_content_info .goods_list .goods_list_box .goods_info .goods_operation .goods_comment .goods_sale_show .goods_sale_num{
    font-weight: 700;
    font-size: 12px;
}

/*全商品列表页 筛选*/
.public_content_info .goods_select_box{
    height: 35px;
    padding-top: 10px;
    text-align: center;
    overflow: hidden;
}
.public_content_info .goods_select_box .search_input{
    height: 30px;
    line-height: 30px;
    width: 200px;
    margin-right: 20px;
    font-size: 12px;
    color: #000;
    font-weight: 600;
    padding: 0 10px;
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari 和 Chrome */
    border-radius: 5px;
    border: 1px solid #ddd;
}
.public_content_info .goods_select_box .search_button{
    height: 30px;
    width: 60px;
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari 和 Chrome */
    border-radius: 5px;
    border: 1px solid #ddd;
    cursor: pointer;
}

