/* 首页样式 */
.public_content_info .index_box{
    width: 1100px;
    margin: 20px auto;
    overflow: hidden;
}

/* 时间表 */
.public_content_info .index_box .index_time_box{
    width: 250px;
    padding: 0 25px;
    margin-right: 10px;
    float: left;
}
.public_content_info .index_box .index_time_box .time_title{
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-weight: bolder;
}
.public_content_info .index_box .index_time_box .time_list{
    height: 40px;
    line-height: 20px;
    text-align: center;
    padding: 3px;
    margin-bottom: 5px;
    border: 2px dashed #000;
}
.public_content_info .index_box .index_time_box .now_doing{
    border-color: #008000;
}
.public_content_info .index_box .index_time_box .next_confirm{
    border-color: #ff0000;
}
.public_content_info .index_box .index_time_box .next_send{
    border-color: #ffcc00;
}

.public_content_info .index_box .index_notice_box{
    width: 410px;
    padding: 0 25px;
    margin-right: 10px;
    float: left;
}
.public_content_info .index_box .index_activity_box{
    width: 250px;
    padding: 0 25px;
    margin-right: 10px;
    float: left;
}

