/* 公告相关css */
.notice_box{
    width: 1000px;
    margin: 0 auto;
}


/* 列表 */
.big_box .notice_list_box{
    width: 800px;
    min-height: 400px;
    margin: 0 auto;
}
.big_box .notice_list_box .notice_list_info{
    border-bottom: 1px dashed transparent;
    height: 40px;
    overflow: hidden;
    cursor: pointer;
}
.big_box .notice_list_box .notice_list_info:hover{
    border-bottom-color: #f40;
}
.big_box .notice_list_box .notice_list_info_title{
    height: 40px;
    line-height: 40px;
    width: 550px;
    padding-left: 50px;
    float: left;
}
.big_box .notice_list_box .notice_list_info_time{
    height: 40px;
    line-height: 40px;
    width: 200px;
    text-align: center;
    float: left;
}


/* 详情 */
.notice_box .notice_title{
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
    border-bottom: 2px dashed #ccc;
    margin: 5px 0 15px;
}
.notice_box .notice_content{
    width: 800px;
    margin: 0 auto;
    padding: 10px;
    min-height: 300px;
}
.notice_box .notice_footer{
    text-align: right;
    padding-right: 200px;
    height: 30px;
    line-height: 30px;
    margin-top: 20px;
}



