
*{ margin: 0; padding: 0; text-decoration: none; font-size: 13px; border:0 none}
html{overflow-y: scroll;}
input,button{ border:0 none}
body{background: #f0f0f0 none repeat scroll 0 0;}
a{ color: #000; cursor:pointer}
a:hover{ color: #000; text-decoration: underline;}
.big_box{ margin: 10px auto; width: 1200px;}

.big_box .public_hidden{
    display: none;
}

/* 颜色控制 */
.big_box .public_red_color{
    color: #f40;
}

/* 顶部信息 */
.big_box .public_top_info{
    margin: 5px 10px 20px;
    border-bottom: 1px solid #ccc;
    height: 30px;
    overflow: hidden;
}

/* 导航栏 */
.big_box .public_nav{
    margin: 5px 20px 5px 50px;
    height: 30px;
    overflow: hidden;
}
.big_box .public_nav .nav_info{
    display: block;
    float: left;
    width: 80px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 12px;
    margin: 1px 3px;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}
.big_box .public_nav .nav_info:hover{
    border-bottom: 2px solid #4477ff;
}
.big_box .public_nav .active{
    border-bottom: 2px solid #4477ff;
}
.big_box .public_nav .separate{
    width: 10px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 10px;
    font-weight: bolder;
    color: #555;
}

/* 内容信息 */
.big_box .public_user_info{
    float: right;
    height: 30px;
    line-height: 30px;
    color: #000;
    margin-right: 20px;
    padding: 0 20px;
    font-size: 13px;
}
/* 分页样式 */
#index_page{
    width: 300px;
    margin: 10px auto 0;
    height: 30px;
    overflow: hidden;
}
#index_page a,#index_page span{
    min-width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    display: block;
    cursor: pointer;
    float: left;
    border-bottom: 2px solid transparent;
}
#index_page a:hover,#index_page span:hover{
    text-decoration: none;
    border-bottom: 2px solid #4477ff;
}
#index_page span.current{
    border-bottom: 2px solid #4477ff;
}

