*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 13px;
    border:0 none;
    font-family: "微软雅黑";
}
html{
    overflow-x: auto;
    overflow-y: scroll;
}
input,button,select{
    border:0 none;
    background: #f0f0f0 none repeat scroll 0 0;
}
body{background: #f0f0f0 none repeat scroll 0 0;}
a{ color: #000; cursor:pointer}
a:hover{ color: #000; text-decoration: underline;}
table {
    border-collapse:collapse;
    border-spacing:0;
}
th,td {
    padding: 0;
}
.big_box{ margin: 10px auto; width: 1200px;}

.big_box .public_hidden{
    display: none;
}

/* 颜色控制 */
.big_box .public_red_color{
    color: #f40;
}
.big_box .public_green_color{
    color: #3c763d;
}
.big_box .public_yellow_color{
    color: #beb500;
}
.big_box .public_gray_color{
    color: #bbb;
}
.big_box .public_tip_color{
    color: #ff0000;
}

/* 公共组件 */
.big_box .public_input{
    height: 30px;
    line-height: 30px;
    width: 200px;
    margin-right: 20px;
    font-size: 12px;
    color: #000;
    font-weight: 600;
    padding: 0 10px;
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari 和 Chrome */
    border-radius: 5px;
    border: 1px solid #ccc;
}

.big_box .public_button{
    height: 30px;
    width: 70px;
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari 和 Chrome */
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #f0f0f0;
}
.big_box .public_button:hover{
    border-color: #aaa;
    background-color: #eee;
}

/* 顶部信息 */
.big_box .public_top_info{
    margin: 5px 10px 20px;
    padding: 5px;
    border-bottom: 1px solid #ccc;
    height: 50px;
    overflow: hidden;
}

/* 导航栏 */
.big_box .public_nav{
    margin: 5px 20px 5px 50px;
    height: 30px;
    overflow: hidden;
}
.big_box .public_nav .nav_info{
    display: block;
    float: left;
    width: 80px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 12px;
    margin: 1px 3px;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}
.big_box .public_nav .nav_info:hover{
    border-bottom: 2px solid #4477ff;
}
.big_box .public_nav .active{
    border-bottom: 2px solid #4477ff;
}
.big_box .public_nav .separate{
    width: 10px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 10px;
    font-weight: bolder;
    color: #555;
}

/* 内容信息 */
.big_box .public_top_info .public_title_info{
    float: left;
    height: 50px;
    line-height: 50px;
    margin-left: 50px;
    font-weight: bolder;
    font-size: 20px;
}
.big_box .public_top_info .public_title_info img.logo{
    width: 120px;
    height: 50px;
    border: none;
    background-color:#f0f0f0;
}
.big_box .public_top_info .public_user_info{
    float: right;
    height: 50px;
    line-height: 50px;
    color: #000;
    margin-right: 20px;
    padding: 0 20px;
    font-size: 13px;
}
.big_box .public_top_info .public_user_info .public_user_is_login .user_message_tip{
    color:#ff0000;
    font-weight: bolder;
}

/* 中间内容部分 */
.big_box .public_content_info{
    min-height: 500px;
}

/* 底部信息 */
.big_box .public_bottom_info{
    margin: 5px 10px 5px;
    border-top: 1px solid #ccc;
    height: 50px;
    overflow: hidden;
}
.big_box .public_bottom_info .bottom_left{
    float: left;
    margin-left: 50px;
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

/* 分页样式 */
#index_page{
    width: 250px;
    margin: 10px auto 0;
    height: 30px;
    overflow: hidden;
}
#index_page a,#index_page span{
    min-width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    display: block;
    cursor: pointer;
    float: left;
    border-bottom: 2px solid transparent;
}
#index_page a:hover,#index_page span:hover{
    text-decoration: none;
    border-bottom: 2px solid #4477ff;
}
#index_page span.current{
    border-bottom: 2px solid #4477ff;
}

/* 统一表单样式 */
.big_box .public_form_row{
    height: 50px;
    border-bottom: 2px dashed #bbb;
    overflow: hidden;
}
.big_box .public_form_button_row{
    height: 50px;
    margin-top: 10px;
    text-align: center;
}
.big_box .public_form_row .public_form_title{
    width: 100px;
    line-height: 50px;
    text-align: center;
    float: left;
}
.big_box .public_form_row .public_form_content{
    width: 350px;
    height: 50px;
    line-height: 50px;
    margin-right: 10px;
    float: left;
}
.big_box .public_form_row input{
    border: 1px solid #bbb;
    height: 30px;
    line-height: 30px;
    width: 190px;
    background: #f0f0f0 none repeat scroll 0 0;
    padding-left: 10px;
}
.big_box .public_form_row .public_form_short_content{
    width: 150px;
    line-height: 50px;
    height: 50px;
    margin-right: 10px;
    float: left;
}
.big_box .public_form_row .public_form_short_content input{
    width: 140px;
}
.big_box .public_form_row .show_verify{
    width: 150px;
    height: 40px;
    vertical-align: middle;
}

/* 统一遮罩弹框 */
.big_box_shade{
    background-color: #000;
    opacity: 0.5;
    filter:alpha(opacity=50);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    display: none;
}
.big_box_alert{
    width: 270px;
    height: 170px;
    border: 1px solid #000;
    padding: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -150px;
    border-radius: 5px;
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari 和 Chrome */
    background-color: #e0e0e0;
    position: fixed;
    z-index: 1001;
    display: none;
}
.big_box_alert .alert_title{
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    padding-left: 25px;
    border-bottom: 1px solid #000;
}
.big_box_alert .alert_content{
    margin-top: 10px;
    padding: 10px;
}
.big_box_alert .alert_content table tr td{
    width: 250px;
    height: 100px;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
}
.big_box_alert .alert_content table .alert_span{
    font-size: 14px;
    font-weight: bolder;
    color: #f40;
}
.big_box_alert .alert_content table .success_span{
    font-size: 14px;
    font-weight: bolder;
    color: #3c763d;
}
.big_box_alert .alert_content table a.tip_a{
    font-size: 16px;
    color: #38f;
}


