/* 用户相关css */
.user_box{
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}
.user_box .user_table{
    text-align: center;
}
.user_box .user_table .table_title{
    height: 50px;
    width: 130px;
    padding-right: 20px;
    text-align: right;
    font-size: 14px;
}
.user_box .user_table .table_content{
    height: 50px;
    width: 300px;
    padding-left: 20px;
    text-align: left;
}
.user_box  #user_reset_password_form .user_table .table_content{
    width: 220px;
}
.user_box .user_table .table_content select{
    border: 1px solid #000;
    height: 25px;
    line-height: 25px;
    min-width: 100px;
    background: #ececec none repeat scroll 0 0;
}
.user_box .user_table .table_content textarea{
    border: 1px solid #000;
    padding: 5px;
    height: 80px;
    width: 270px;
    background: #ececec none repeat scroll 0 0;
}
.user_box .user_table .table_tip{
    height: 50px;
    width: 180px;
    padding-left: 20px;
    text-align: left;
}
.user_box  #user_reset_password_form .user_table .table_tip{
    width: 260px;
    font-size: 10px;
}
.user_box .user_table .table_bottom{
    height: 50px;
}

/* 用户登录相关 */
.user_box .login_box{
    width: 700px;
    margin: 100px auto 50px;
}
.user_box .login_box .user_table .table_content input{
    width: 200px;
    height: 25px;
    line-height: 25px;
    padding-left: 10px;
    background: #ececec none repeat scroll 0 0;
    border-bottom: 1px dashed #000;
}
.user_box .login_box .user_table .table_content input[name='verify']{
    width: 80px;
    float: left;
}
.user_box .login_box .user_table .table_content .show_verify{
    width: 100px;
    height: 30px;
    display: block;
    float: left;
    margin-left: 20px;
}
.user_box .login_box .user_table .table_bottom #register{
    margin-left: 20px;
}
.user_box .login_box .user_table .table_bottom #user_login{
    margin-left: 20px;
}
.user_box .login_box .user_table .table_bottom #reset_password{
    margin-left: 20px;
}

/* 意见反馈相关 */
.user_box .feedback_box{
    width: 700px;
    margin: 100px auto 50px;
}
