/* 个人中心左边公共栏位 */
.user_center_box{
    width: 1100px;
    margin: 0 auto;
    overflow: hidden;
}
.user_center_box .user_center_left{
    margin: 10px;
    width: 200px;
    float: left;
}
.user_center_box .user_center_left .user_center_tag{
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 200px;
    display: block;
    border-bottom: 2px dashed #bbb;
    text-decoration: none;
    font-size: 14px;
}
.user_center_box .user_center_left .user_center_tag:hover{
    font-weight: bolder;
    border-bottom: 2px solid #4477ff;
}
.user_center_box .user_center_left .active{
    font-weight: bolder;
    border-bottom: 2px solid #4477ff;
}

/* 个人中心右侧内容栏 */
.user_center_box .user_center_right{
    margin: 10px;
    width: 860px;
    float: left;
}

/* 我的订单 */
.user_center_box .user_center_right .user_center_order_box{
    width: 850px;
    margin: 0 auto;
}
.user_center_box .user_center_right .user_center_order_box .user_center_order_list_tip{
    border: 1px dashed #ff0000;
    padding: 10px;
    font-weight: bolder;
    line-height: 25px;
    background-color: #dff0d8;
    color: #3c763d;
}
.user_center_box .user_center_right .user_center_order_box .order_table{
    text-align: center;
}
.user_center_box .user_center_right .user_center_order_box .order_table tr{
    cursor: pointer;
}
.user_center_box .user_center_right .user_center_order_box .order_table .active{
    border-bottom: 1px dashed #ff0000;
}
.user_center_box .user_center_right .user_center_order_box .order_table tr td{
    height: 40px;
    border-bottom: 1px dashed #bbb;
}

