<include file="Public/header" />

<script type="text/javascript" src="{:C('_ADMIN_JS_')}/user.js"></script>

<div class="admin_box add_user_box">
    <form class="form-horizontal" method="post">
        <div class="form-group">
            <label class="col-sm-2 control-label">用户编号：</label>
            <div class="col-sm-3">
                <p class="form-control-static">{$info.user_id}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">用户名：</label>
            <div class="col-sm-3">
                <p class="form-control-static">
                    <empty name="info.user_name">
                        -
                    <else/>
                        {$info.user_name}
                    </empty>
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">用户昵称：</label>
            <div class="col-sm-3">
                <input type="text" name="user_nick_name" class="form-control" value="{$info.nick_name}" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">用户手机号：</label>
            <div class="col-sm-3">
                <input type="text" name="user_mobile" class="form-control" value="{$info.user_mobile}" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">用户状态：</label>
            <div class="col-sm-3">
                <p class="form-control-static">
                    {$user_state_list[$info['state']]}
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <if condition="$operation['delete']['is_show'] eq 1">
                        <a href="javascript:;" onclick="changeUserState({$info.user_id},{$operation['delete']['value']})">删除</a>
                        &nbsp;&nbsp;
                    </if>
                    <if condition="$operation['freeze']['is_show'] eq 1">
                        <a href="javascript:;" onclick="changeUserState({$info.user_id},{$operation['freeze']['value']})">冻结</a>
                        &nbsp;&nbsp;
                    </if>
                    <if condition="$operation['recovery']['is_show'] eq 1">
                        <a href="javascript:;" onclick="changeUserState({$info.user_id},{$operation['recovery']['value']})">恢复</a>
                        &nbsp;&nbsp;
                    </if>
                </p>
                <input type="text" class="form-control" placeholder="改变状态的话，在这填写变更原因" id="change_user_state_remark" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">用户身份：</label>
            <div class="col-sm-3">
                <p class="form-control-static">
                    {$user_identity_list[$info['user_identity']]}
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <if condition="$operation['to_users']['is_show'] eq 1">
                        <a href="javascript:;" onclick="changeUserIdentity({$info.user_id},{$operation['to_users']['value']})">改为普通用户</a>
                    </if>
                    <if condition="$operation['to_admin']['is_show'] eq 1">
                        <a href="javascript:;" onclick="changeUserIdentity({$info.user_id},{$operation['to_admin']['value']})">改为管理员</a>
                    </if>
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">用户积分：</label>
            <div class="col-sm-3">
                <p class="form-control-static">
                    {$point_info.point_value}
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/Admin/User/userPointList/user_id/{$info.user_id}" target="_blank">查看详情</a>
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">重置用安全码：</label>
            <div class="col-sm-3">
                <p class="form-control-static">
                    {$info['reset_code']}
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="javascript:;" onclick="resetUserResetCode({$info.user_id})">重置</a>
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">注册时间：</label>
            <div class="col-sm-3">
                <p class="form-control-static">
                    {$info['inputtime']|date="Y-m-d H:i:s",###}
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">最后活跃时间：</label>
            <div class="col-sm-3">
                <p class="form-control-static">
                    <empty name="info.active_time">
                        -
                    <else/>
                        {$info['active_time']|date="Y-m-d H:i:s",###}
                    </empty>
                </p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">提交</button>
            </div>
        </div>
    </form>
</div>

<include file="Public/footer" />