<include file="Public/header" />

<script type="text/javascript" src="{:C('_ADMIN_JS_')}/page.js"></script>

<div class="admin_box feedback_list_box">

    <form method="post" class="form-inline" >
        <div class="list_search_box">
            <div class="form-group">
                <select name="search_time_type" class="form-control" >
                    <foreach name="search_time_type_list" item="val">
                        <option value="{$key}" <if condition="$dispose.search_time_type eq $key">selected="selected"</if> >{$val}</option>
                    </foreach>
                </select>
            </div>
            <div class="form-group ">
                <input type="text" class="form-control" id="goods_list_start_time" name="search_start_time" readonly value="{$dispose.search_start_time}" >
                &nbsp;&nbsp;-&nbsp;&nbsp;
                <input type="text" class="form-control" id="goods_list_end_time" name="search_end_time" readonly value="{$dispose.search_end_time}" >
            </div>
            <div class="form-group">
                <select name="search_info_type" class="form-control" >
                    <option value="0">选择搜索字段</option>
                    <foreach name="search_info_type_list" item="val">
                        <option value="{$key}" <if condition="$dispose.search_info_type eq $key">selected="selected"</if> >{$val}</option>
                    </foreach>
                </select>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="search_info" value="{$dispose.search_info}" >
            </div>
            <div class="form-group">
                <label>是否已处理：</label>
                <select name="search_is_solve" class="form-control" >
                    <option value="-1" <if condition="$dispose.search_is_solve eq -1">selected="selected"</if> >不限</option>
                    <option value="0" <if condition="$dispose.search_is_solve eq 0">selected="selected"</if> >未处理</option>
                    <option value="1" <if condition="$dispose.search_is_solve eq 1">selected="selected"</if> >已处理</option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">提交</button>
                <button type="button" onclick="reset_search_val()" class="btn btn-default">重置</button>
            </div>
        </div>
    </form>

    <span class="list_count">问题总数：{$count}</span>
    <div class="list_show_box">
        <table class="table">
            <tr>
                <th>id</th>
                <th>用户手机</th>
                <th>反馈类型</th>
                <th>反馈时间</th>
                <th>反馈内容</th>
                <th>是否已处理</th>
                <th>处理时间</th>
                <th>处理方案</th>
                <th>操作</th>
            </tr>
            <foreach name="list" item="val">
                <tr>
                    <td>{$val.id}</td>
                    <td><a href="/Admin/User/editUser/id/{$val.user_id}" target="_blank" >{$val.mobile}</a></td>
                    <td>{:C('FEEDBACK_TYPE_LIST')[$val['type']]}</td>
                    <td>{$val.inputtime|date="Y-m-d H:i:s",###}</td>
                    <td title="{$val.message}">{$val.message|cut_str=###,10}</td>
                    <td>
                        <notempty name="val.is_solve">
                            <span class="green_color">已解决</span>
                        <else/>
                            <span class="red_color">未解决</span>
                        </notempty>
                    </td>
                    <td>
                        <notempty name="val.solve_time">
                            {$val.solve_time|date="Y-m-d H:i:s",###}
                        <else/>
                            -
                        </notempty>
                    </td>
                    <td title="{$val.solve_plan}">
                        <notempty name="val.solve_plan">
                            {$val.solve_plan|cut_str=###,10}
                        <else/>
                            -
                        </notempty>
                    </td>
                    <td>
                        <notempty name="val.is_solve">
                            -
                        <else/>
                            <a href="/Admin/User/disposeUserFeedback/id/{$val.id}" target="_blank" >处理</a>
                        </notempty>
                    </td>
                </tr>
            </foreach>
        </table>
    </div>


    <form id="admin_page_form" method="post">
        <input type="hidden" name="search_now_page" value="{$dispose.page}" />
        <input type="hidden" name="search_time_type" value="{$dispose.search_time_type}" />
        <input type="hidden" name="search_start_time" value="{$dispose.search_start_time}" />
        <input type="hidden" name="search_end_time" value="{$dispose.search_end_time}" />
        <input type="hidden" name="search_info_type" value="{$dispose.search_info_type}" />
        <input type="hidden" name="search_info" value="{$dispose.search_info}" />
        <input type="hidden" name="search_is_solve" value="{$dispose.search_is_solve}" />
    </form>

    {$page}
</div>

<script type="text/javascript" src="{:C('_ADMIN_BOOTSTRAP_')}/js/bootstrap-datetimepicker.min.js"></script>

<script>

    //日历初始化
    $('#goods_list_start_time').datetimepicker({
        language : "zh-CN" ,
        format : "yyyy-mm-dd",
        todayBtn:  true,
        autoclose: true,
        todayHighlight: true,
        startView: 2,
        minView: 2,
    });
    $('#goods_list_end_time').datetimepicker({
        language : "zh-CN" ,
        format : "yyyy-mm-dd",
        todayBtn:  true,
        autoclose: true,
        todayHighlight: true,
        startView: 2,
        minView: 2,
    });

    //表单初始化
    function reset_search_val(){
        $("select[name='search_time_type']").val($("select[name='search_time_type'] option:first").val());
        $("input[name='search_start_time']").val("");
        $("input[name='search_end_time']").val("");
        $("select[name='search_info_type']").val(0);
        $("input[name='search_info']").val("");
        $("select[name='search_is_solve']").val(-1);
    }

</script>

<include file="Public/footer" />