<include file="Public/header" />

<script type="text/javascript" src="{:C('_ADMIN_JS_')}/order.js"></script>

<div class="admin_box order_info_box">
    <form class="form-horizontal" >
        <div class="form-group">
            <label class="col-sm-2 control-label">订单编号：</label>
            <div class="col-sm-5">
                <p class="form-control-static">
                    {$order_info.order_info.order_code}
                    <notempty name="order_info.order_info.is_delete">
                        &nbsp;&nbsp;
                        <span class="red_color">这张订单已在 {$order_info.order_info.delete_time|date="Y-m-d H:i:s",###} 被删除</span>
                    </notempty>
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">用户手机号：</label>
            <div class="col-sm-3">
                <p class="form-control-static" title="信誉分：{$order_info.order_info.user_credit}">{$order_info.order_info.user_mobile}&nbsp;（{$order_info.order_info.user_credit}）</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">下单时间：</label>
            <div class="col-sm-3">
                <p class="form-control-static">{$order_info.order_info.inputtime|date="Y-m-d H:i:s",###}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">配送时间：</label>
            <div class="col-sm-3">
                <p class="form-control-static">
                    {:C('SHOP_SEND_WEEK_LIST')[$order_info['order_info']['send_week']]['week_str']}
                    &nbsp;
                    {:C('SHOP_SEND_TIME_LIST')[$order_info['order_info']['send_time']]['info']}
                    &nbsp;
                    {:C('SHOP_SEND_TIME_LIST')[$order_info['order_info']['send_time']]['time']}
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">配送地址：</label>
            <div class="col-sm-3">
                <p class="form-control-static">{$order_info.order_info.send_address}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">用户是否已确认：</label>
            <div class="col-sm-3">
                <p class="form-control-static {$is_confirm_list[$order_info['order_info']['is_confirm']]['class']}">
                    {$is_confirm_list[$order_info['order_info']['is_confirm']]['str']}
                    <notempty name="order_info.order_info.is_confirm">
                        &nbsp;
                        {$order_info.order_info.confirm_time|date="Y-m-d H:i:s",###}
                        &nbsp;
                        {$order_info.order_info.confirm_mobile}
                    <else/>
                        <empty name="order_info.order_info.is_delete">
                            &nbsp;
                            <a href="javascript:;" onclick="confirmOrder({$order_info.order_info.id})">确认订单</a>
                        </empty>
                    </notempty>
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">订单金额：</label>
            <div class="col-sm-3">
                <p class="form-control-static">￥{$order_info.order_info.pay_price}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">是否已确认付款：</label>
            <div class="col-sm-3">
                <p class="form-control-static {$is_pay_list[$order_info['order_info']['is_pay']]['class']}">
                    {$is_pay_list[$order_info['order_info']['is_pay']]['str']}
                    <notempty name="order_info.order_info.is_pay">
                        &nbsp;
                        {$order_info.order_info.confirm_pay_time|date="Y-m-d H:i:s",###}
                    <else/>
                        <empty name="order_info.order_info.is_delete">
                            &nbsp;
                            <a href="javascript:;" onclick="confirmPay({$order_info.order_info.id})">确认付款</a>
                        </empty>
                    </notempty>
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">订单状态：</label>
            <div class="col-sm-3">
                <p class="form-control-static">{:C("STATE_ORDER_LIST")[$order_info['order_info']['state']]}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">积分抵用：</label>
            <div class="col-sm-3">
                <p class="form-control-static">{$order_info.order_info.point}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">订单备注：</label>
            <div class="col-sm-3">
                <p class="form-control-static">{$order_info.order_info.remark}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">商品列表：</label>
            <div class="col-sm-3">
                <p class="form-control-static">商品种类 / 总数：{$order_info.order_info.goods_num}&nbsp;/&nbsp;{$order_info.order_info.goods_all_num}</p>
            </div>
        </div>

        <foreach name="order_info.order_goods_list" item="val">
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    <img src="{:C('WEB_DOMAIN')}/{$val.goods_image}" width="50" height="50" />
                </label>
                <div class="col-sm-3">
                    <p class="form-control-static" title="{$val.name} - {$val.ext_name}">
                        <a href="/Admin/Goods/editGoods/id/{$val.id}" target="_blank">{$val.name|cut_str=###,15}<br/>{$val.ext_name|cut_str=###,15}</a>
                    </p>
                </div>
                <div class="col-sm-2">
                    <p class="form-control-static" title="{$val.name} - {$val.ext_name}">
                        <if condition="$val.pay_type eq C('PAY_TYPE_CART_MONEY')">
                            ￥{$val.price}&nbsp;（￥&nbsp;{$val['price']*$val['goods_num']}）
                        <elseif condition="$val.pay_type eq C('PAY_TYPE_CART_POINT')"/>
                            积分：{$val.point}&nbsp;（积分&nbsp;{$val['point']*$val['goods_num']}）
                        <else/>
                            -
                        </if>
                        <br/>
                        购买数量：{$val.goods_num}
                    </p>
                </div>
            </div>
        </foreach>

        <empty name="order_info.order_info.is_delete">
            <div class="form-group">
                <label class="col-sm-2 control-label">其他操作：</label>
                <div class="col-sm-3">
                    <p class="form-control-static"><a href="javascript:;">关闭</a>&nbsp;|&nbsp;<a href="javascript:;">退款</a></p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">操作原因：</label>
                <div class="col-sm-3">
                    <textarea class="form-control" id="other_operation_remark" placeholder="其他操作，需在这里填写原因"></textarea>
                </div>
            </div>
        </empty>

        <div class="form-group">
            <label class="col-sm-2 control-label">订单日志：</label>
            <div class="col-sm-3"><p class="form-control-static">日志内容</p></div>
        </div>

        <foreach name="order_info.order_log" item="val">
            <div class="form-group">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-7">
                    <p class="form-control-static">
                        {$val.inputtime|date="Y-m-d H:i:s",###}&nbsp;&nbsp;&nbsp;&nbsp;{$val.log}
                        <notempty name="val.relevant">
                            <br/>相关：{$val.relevant}
                        </notempty>
                    </p>
                </div>
            </div>
        </foreach>

    </form>
</div>

<script>

</script>

<include file="Public/footer" />
